[2019-07-03 13:27] nick-zh commented on #231
@arnaud-lb perfect, thank you very much. ah yes perfect, i forgot the usernames :stuck_out_tongue_closed_eyes:

[2019-07-03 13:38] Steveb-p commented on #234
I was just referencing a similar issue that occured for that particular method (#17), which was stemming from a `NULL` being passed to a function of librdkafka instead of a real pointer. In versions below 1.0.0 of librdkafka that pointer was not used, while in 1.0.0 it started to - causing a segfault. A similar case might happen here.

[2019-07-03 17:19] Steveb-p commented on #234
I've taken a quick look, but the code that is related to setting the callback function is a lot more complex (at least for my mediocre at best skill level in C and PHP extensions). Seems that `setStatsCb` might be affected as well, considering that they are vaguely similar.

It might take me a while to diagnose the problem, but I'll try during the weekend if nothing else.

[2019-07-05 06:56] dhanashreeshetty19 commented on #39
hi latest version means which?? is  0.11.3 ok

[2019-07-05 11:35] nick-zh commented on #39
@dhanashreeshetty19 latest version is `1.1.0`. You might still be fine, but there have been a lot of fixes since `0.11.3` i suggest to upgrade to at least `0.11.6`, you can check all the fixes in the release notes:
https://github.com/edenhill/librdkafka/releases

[2019-07-05 11:51] dhanashreeshetty19 commented on #39
thanks @nick-zh. Actually my PHP version was 7.3, which i downgraded to 7.1. After this I again re-installed RD Kafka library the same version and now it's working.

Thank-you!

[2019-07-08 05:59] nick-zh commented on #123
@balajivenki i am late to the party, if you still have this issue, you can set `message.max.bytes` that you mention on the broker side, this should fix this. If it works or you found the solution anyway, feel free to close this issue :smile:

[2019-07-08 06:02] nick-zh commented on #124
@xiexiangnow with either https://arnaud.le-blanc.net/php-rdkafka/phpdoc/rdkafka-kafkaconsumer.commit.html or https://arnaud.le-blanc.net/php-rdkafka/phpdoc/rdkafka-kafkaconsumer.commitasync.html you can commit the offset.

[2019-07-08 06:04] nick-zh commented on #128
@zuoRambo is this still a problem or can this be resolved?

[2019-07-08 06:05] nick-zh commented on #133
@gy0624ww is this still an issue?

[2019-07-08 06:07] nick-zh commented on #153
@aand18 is this still a problem? Have you tried using the current rdkafka release? Which version of librdkafka are you using?

[2019-07-08 06:11] nick-zh commented on #158
@tobbelito123 i am not sure if this issue is still exsting for you, but i would suggest running a consumer in the backgroudn that populates it's data somewhere and your page consumes it (not manipulating the html directly). The delay that you are seeing is because the high level consumer does a rebalance at startup, which takes some time. Let me know if you need further assistance.

[2019-07-08 06:11] nick-zh commented on #161
@lc-Arvin is this issue still open or can it be closed?

[2019-07-08 06:12] nick-zh commented on #168
@arnaud-lb i think this can be closed

[2019-07-08 06:13] nick-zh commented on #169
As @lilinhan provided the solution, i think this can be closed @mgckid @arnaud-lb

[2019-07-08 06:14] nick-zh commented on #170
@DRinaldin is this still an issue for you or can it be closed?

[2019-07-08 06:15] nick-zh commented on #178
@arnaud-lb any feedback on this?

[2019-07-08 06:16] nick-zh commented on #174
@suvera is this still a problem for you with the current release?

[2019-07-08 06:17] nick-zh commented on #173
@nandawawank is this issue still open?

[2019-07-08 06:19] nick-zh commented on #182
@arnaud-lb can you label this issue please?

[2019-07-08 06:21] nick-zh commented on #186
@bbaga do you need more input or can this be closed?

[2019-07-08 06:21] nick-zh commented on #198
@fighthorse do you still need help or can this be closed?

[2019-07-08 06:22] nick-zh commented on #205
@snowonbridge do you need further help or can this be closed?

[2019-07-08 06:26] nick-zh commented on #235
@arnaud-lb i saw you fixed some stuff, can this be resolved or still ongoing?

[2019-07-08 11:16] remicollet commented on #235
I confirm 15bc0173ef7b06ef16e477e8b12c3eac5bcf2abc fixes this issue.

[2019-07-08 13:23] suvera commented on #174
I've moved to "java" Kafka consuming, so I haven't checked this issue quite some time.,

[2019-07-08 13:28] nick-zh commented on #235
@remicollet perfect, thx, can be closed then? I guess until a new release is out, you need to build from the current master

[2019-07-08 13:28] nick-zh commented on #174
@suvera can be closed then?

[2019-07-08 15:07] arnaud-lb commented on #235
Thanks @remicollet. I've just released 3.1.2, which fixes this.

[2019-07-08 15:07] #235 closed

[2019-07-08 15:13] #168 closed

[2019-07-08 15:14] #169 closed

[2019-07-08 15:18] arnaud-lb commented on #178
I'm not sure. The `rd_kafka_offset_store()` docblock mentions this:

[code]

https://github.com/edenhill/librdkafka/blob/v1.1.0/src/rdkafka.h#L3182

[2019-07-09 05:11] nick-zh commented on #178
@arnaud-lb i opened an issue at librdkafka a while back, from the answer i think, if you want full controll, the one setting we want to adjust is `enable_auto_offset_store`, you can check the answer here:
https://github.com/edenhill/librdkafka/issues/1829#issuecomment-393427324

[2019-07-09 05:15] nick-zh commented on #235
https://github.com/arnaud-lb/php-rdkafka/releases/tag/3.1.2

[2019-07-09 07:41] arnaud-lb commented on #178
Yes, from this ticket and the related wiki page, this seems right :)

[2019-07-09 07:50] nick-zh commented on #178
@arnaud-lb alright, i am going to create a pr on doc, thx :)

[2019-07-09 07:50] #178 closed

[2019-07-09 14:39] DRinaldin commented on #170
We was doing a PoC, so decided to use Python. Thank you.

Em seg, 8 de jul de 2019 às 03:14, Nick <notifications@github.com> escreveu:

[2019-07-09 16:41] #170 closed

[2019-07-09 19:49] unfrgivn commented on #184
How are others handling this? I have tried both `setDrMsgCb` and `setErrorCb` and I can only get them to fire once the `message.timeout.ms` is reached even if I `die()` inside of them. In my case, I just want to ignore the delivery and continue with my process immediately if I get back an error response that the broker is unreachable.

I am using the same example as the OP on my producer.

As of r

[2019-07-09 20:18] Steveb-p commented on #184
@unfrgivn In my case I'm simply not using Kafka in any web-facing scripts, delegating tasks to background processes / queues. The behavior you described I'm unsure if it's something that can be done from phprdkafka, since it's the librdkafka threads that are keeping the main thread alive.

I doubt they will fire more than once if you `die` inside of them.

Then don't `poll` until you're finished w

[2019-07-09 21:08] unfrgivn commented on #184
Thanks @Steveb-p, this is for logging API responses which are parsed out by a consumer later and written to a DB for permanent storage so it’s more critical that process continues than logs successfully. However other calls may need to trigger a system email or something that should definitely be written to the topic. I think I just don’t understand the concept of polling and need to read up on th

[2019-07-10 00:54] unfrgivn commented on #184
and just to clarify, removing the while loop on the queue and polling does not speed anything up without dropping the delivery timeout. As I said above, the two callbacks do not fire until these timeouts are fully met, so by default they are never called until after 300000ms.

According to the [docs](https://arnaud.le-blanc.net/php-rdkafka/phpdoc/rdkafka.poll.html) `poll(0)` should be non-blocking

[2019-07-10 05:39] nick-zh commented on #184
@unfrgivn i hope i find soon time, to help you with this, in the meantime, i can say it is crucial to have something like this in your producer mechanism:
[code]
otherwise your callbacks don't get called and sooner or later you will crash when the poll queue gets too big.
Am i understanding correctly, that if you fail to send a message (and you want to move on), you can't because the producer awai

[2019-07-10 11:18] unfrgivn commented on #184
Thanks @nick-zh and that all makes sense, I’m just wondering how people are writing to Kafka PHP from any external data source like an inbound webhook or adding a method result to a topic to be queued for work later on? What about using it for sending web analytics to Kafka in realtime (vs reading the logs?) If you can’t queue the message locally and then terminate the thread immediately, that cre

[2019-07-11 05:38] nick-zh commented on #184
@unfrgivn ah yeah, i totally get what you are aiming at now. To be perfectly honest, we haven't had any connection issues for a long time. But i totally agree this is very important. For a new project i am working on, i will be digging into stuff like this, but sadly i cannot offer any insights at the moment. The only problem we had was the initial connect (that happened a lot), but we were able t

[2019-07-11 09:27] Steveb-p commented on #184
There were a lot of changes in librdkafka since phprdkafka 3.0 was released (almost two years worth of commits). You might want to try running it with 0.11.6 version of librdkafka instead of 1.0+ and checking if it changes anything. There might have been a change tha phprdkafka has to yet accomodate for that went under the radar.

@nick-zh afaik Streams are not supported in librdkafka yet either.

[2019-07-11 11:03] unfrgivn commented on #184
Thanks for the responses. We do use nodefluent with node-rdkafka for streams and connectors which is an almost complete clone of the Java frameworks and works very well (plus we already know JS).

For our PHP I’m thinking of attempting something really similar @Steveb-p but using blackhole tables in MySQL and the Debeezium connector we already leverage. So all our streams can run ETL off inserts t

[2019-07-11 11:07] unfrgivn commented on #184
Also just more info @nick-zh we did look at using Promises with ReactPHP to achieve this as you hinted. The problem is we would have to rearchitect our entire application to use this bc otherwise the async call will still terminate when the main thread dies. There may be a way to achieve this using pthreads, but it started to feel a little duct tape as I went down that path.

[2019-07-12 07:01] xfmo opened #237 "how catch this error"
how to catch this error ，then restart the thread

%3|1562912413.181|ERROR|rdkafka#consumer-1| [thrd:1*:9092/bootstrap]: *:9092/1: Disconnected (after 1200007ms in state UP)

 * PHP version:7.0
 * librdkafka version:
 * php-rdkafka version:3.1.0

[2019-07-12 07:58] nick-zh commented on #237
Probably the idle reaper is killing your connection (config is this i think: `connections.max.idle.ms`)
this can probably be handled with this callback https://arnaud.le-blanc.net/php-rdkafka/phpdoc/rdkafka-conf.seterrorcb.html
I am uncertain if it is possible / wise to reconnect in the CB for this case. Maybe just exiting the thread and kicking off a new one would be fine, this would have to be d

[2019-07-13 05:19] xfmo commented on #237
In  my case,  set kafka 10 partition  and 10 consumer thread ，but some partition lag so much。I then restart consumer thread   kafka  no lag。How can I do  ？

$conf->setErrorCb(function ($kafka, $err, $reason) {
            exit();
        });

[2019-07-13 05:19] #237 closed

[2019-07-13 06:10] #174 closed

[2019-07-13 07:13] nick-zh commented on #237
@xfmo you closed this, have you resolved your issue?

[2019-07-13 07:57] xfmo commented on #237
I know how to log this error 。but i have above question 'some partition lag so much'，I'm sorry I didn't describe the problem clearly。

[2019-07-13 08:28] nick-zh commented on #237
@xfmo so this is a new issue that you have? if so, you can open of course a new issue and maybe explain further what exactly is happening :)

[2019-07-16 13:45] Wiggyboy commented on #159
Been trying to get this working all day.
Did as you said. Previously I was getting the error above, now I am getting a different error.

The procedure entry point spprintf could not be lcoated in the dynamic link library C:\xampp\php\ext\php_rdkafka.dll.

![error](https://user-images.githubusercontent.com/5701732/61299535-9244b500-a7e0-11e9-8d81-fc060228b3ff.png)

[2019-07-16 14:04] Steveb-p commented on #159
It seems you're missing core PHP source files (https://github.com/php/php-src/blob/master/main/spprintf.c). Did you build phprdkafka against the same PHP version that you're using?

[2019-07-16 14:19] Wiggyboy commented on #159
@Steveb-p I did not build the php-rdkafka myself, I downloaded it from [PECL](https://pecl.php.net/package/rdkafka/3.1.2/windows) just like OP.

[2019-07-16 15:10] nick-zh commented on #159
i checked and it seems spprintf has been around since pretty much forver (and i see you are using 7.3.7 anyway). I am not too familiar with XAMPP but maybe some of the links are not being properly resolved or it lies in a very specific place and it has been configured differently...
a quick google search with `windows php entry point not found` leads me to believe, that maybe something not loaded

[2019-07-16 16:04] Wiggyboy commented on #159
@nick-zh I downgraded to php to **v. 7.1.30** and the pesty error message disappeared. I have not had time to try if it's working properly because I don't have my kafka cluster setup on this environment. But loading the php examples, I recieved no issues of missing classes etc so seems very promising.

I did try thereafter upgrading php to v. 7.2.20. But the error message returned. I'll stick with

[2019-07-16 16:10] Steveb-p commented on #159
There is a high chance - nearing certainty - that DLLs created for version 7.1 of PHP will link to different locations in memory than 7.2, making build targeting PHP 7.1 unusable to any other version. That's how almost every extension behaves.

The same goes with using ZTS and non-ZTS versions.

Apparently you've downloaded a DLL for PHP 7.1, so it didn't work in PHP 7.2.

[2019-07-16 16:23] Wiggyboy commented on #159
@Steveb-p Oh, perhaps it was my mistake to begin with then. I knew the **.dll** was for **v. 7.1**, but since it was the only downloadable version and it says,
[code]
I thought it would not matter. My apologies **>.<'**
I would be good if the installation guide were more thorough. Thanks anyways!

[2019-07-16 16:28] Steveb-p commented on #159
Yeah @Wiggyboy, well, it's not like there is a high level of support for windows extensions anyways :)

There is often a request for a particular version of phprdkafka to be pushed to PECL, but compiling it under windows seems to be rather troublesome :) Oftentimes a .dll is simply missing, not added to PECL after release :cry:

[2019-07-16 19:22] nick-zh commented on #159
good catch, i added a small hint to the windows installation section and made a PR

[2019-07-17 08:59] nick-zh commented on #182
I will try to check this out this weekend

[2019-07-17 09:36] nick-zh commented on #182
In sight of this: https://github.com/edenhill/librdkafka/issues/2415
I think it does not make sense to port a function that will be deprecated.
@arnaud-lb i think we can close this

[2019-07-18 12:30] harshadvichare opened #239 "Consumer Batch message read"
* PHP version: 7.0
 * librdkafka version: librdkafka-0.11.6
 * php-rdkafka version: php-rdkafka-3.0.5

How can we consume multiple message or Batch message read using rdKafka.
Also how to send  message with enable.idempotence = true

[2019-07-18 12:47] nick-zh commented on #239
@harshadvichare consuming of batches is not supported in the extension as for now
from what i understand from the release notes from librdkafka just setting that setting, should actually be enought during producing

[2019-07-18 21:23] nick-zh commented on #78
I think since `Kafka::queryWatermarkOffsets` and `KafkaConsumer::getCommittedOffsets` are now exposed, this can be closed @arnaud-lb

[2019-07-19 05:13] harshadvichare commented on #239
@nick-zh Thanks for update
Do you have any plan to support  for reading batch message in consumer.

[2019-07-19 05:43] nick-zh commented on #239
@harshadvichare is there a specific reason you prefer using batch consuming?

[2019-07-19 08:40] #78 closed

[2019-07-19 09:41] nick-zh commented on #130
@arnaud-lb i think we can close this after doc is merged, thanks in advance :+1:

[2019-07-19 09:41] #130 closed

[2019-07-19 12:03] PopovAnatolii opened #240 "First message from producer in php-request with the error "Local: Message timed out""
* PHP version: 7.0.27
 * librdkafka version: 0.11.6
 * php-rdkafka version: 3.1.0

First message from producer in php-request with the error "Local: Message timed out" the rest are sent successfully.

I have 1 topic and 7 hosts in broker list.

Producer config:
queue.buffering.max.ms: 1
socket.timeout.ms: 500

Topic config:
message.timeout.ms: 2000
request.timeout.ms: 1000

Any idea what goes wron

[2019-07-19 12:07] nick-zh commented on #240
@PopovAnatolii normally this means the broker couldn't be reached, are all 7 hosts up and running? Can you always reproduce this?
Maybe the code could help to investigate this further

[2019-07-19 12:25] PopovAnatolii commented on #240
@nick-zh , no, it happens from time to time. In 50% of requests.

My simple Yii2 wrapper class https://codeshare.io/2E9nB8

Usage in code:
Yii::$app->KafkaTopic->publish($message)->flush();

[2019-07-19 12:39] nick-zh commented on #240
@PopovAnatolii thx, let me get back to you on this, today is quite busy, so maybe i have time during the weekend

[2019-07-19 13:00] PopovAnatolii commented on #240
@nick-zh , Thank. I'll wait.
I'm here for any additional information.

[2019-07-19 13:04] #205 closed

[2019-07-19 13:37] PopovAnatolii commented on #240
@nick-zh, kafka version 0.9.0.2.3

[2019-07-19 15:00] PopovAnatolii commented on #240
@nick-zh, with kafka 1.0.0 problem is gone.

Maybe i shold set some configutation for kafka version compatibility?

https://github.com/edenhill/librdkafka/wiki/Broker-version-compatibility

[2019-07-22 05:07] nick-zh commented on #240
@PopovAnatolii sry for the late response. Since your broker is now on `1.0.0` the default should be fine. Before `0.10.0` the lib was unable to query the broker version and was unable to determine if certain features / requests were available.

[2019-07-22 05:09] nick-zh opened #241 "Add kafka version to issue template"
Dear @arnaud-lb

I think we should add the `kafka version:` to the issue template as well to spot faster
if a feature is trying to be used, that might not be available.

Cheers,
Nick

[2019-07-22 09:48] PopovAnatolii commented on #240
@nick-zh ,
I set that settings to skip version request:

'api.version.request' => 'false',
'broker.version.fallback' => '0.9.0.2'

everything is working now.

For old versions of brokers i should use some specific settings
which are described here: https://github.com/edenhill/librdkafka/wiki/Broker-version-compatibility

thank!

[2019-07-22 09:48] #240 closed

[2019-07-24 05:13] harshadvichare commented on #239
For the performance and bulk message consumption we need batch consuming

[2019-07-24 05:30] nick-zh opened #242 "Expose rd_kafka_consume_callback()"
According to librdkafka:
[code]

[2019-07-24 05:31] nick-zh commented on #239
@harshadvichare thx for getting back. If your sole concern is performance, it might be worth exposing the consume callback, in the lib there is the following statement:
[code]
I created an issue for this https://github.com/arnaud-lb/php-rdkafka/issues/242
If you need bulks, then of course batch makes sense as well.
I'll try to check on the weekend if i find time to expose this in the extension

@a

[2019-07-24 05:50] ayamzh opened #243 "when i call func newTopic,how to set partition number?and how many default partitions"
$rk = new \RdKafka\Producer();
        $rk->setLogLevel(LOG_DEBUG);
        $rk->addBrokers("127.0.0.1:9092");

        $topic = $rk->newTopic("test");

[2019-07-24 06:26] nick-zh commented on #243
@ayamzh when you create a topic on the broker, you define how many partitions you want. The default setting on the broker, which is `num.partitions` is set to 1.
With either `produce` and `producev` you can either give a partition you want, or set `RD_KAFKA_PARTITION_UA` (unassigned) which will take the default partitioner. As far as i remember the default is a random partitioner, but you could se

[2019-07-24 06:49] ayamzh commented on #243
can you give me an example  code,hot to use php-rdkafka  set the partition number of the new topic

[2019-07-24 07:02] nick-zh commented on #243
@ayamzh i am not sure if i understand correct. You cannot create the partition with PHP since the Admin API is not exposed as far as i am informed. `newTopic` does not create a new topic, it creates an instance of a topic that you need for the consumer.

[2019-07-24 07:12] nick-zh commented on #215
@arnaud-lb could you add some labels here as well, thx in advance :)

[2019-07-24 08:32] nick-zh commented on #243
@ayamzh let me know if you need further help or if we can resolve this

[2019-07-24 08:35] ayamzh commented on #243
thanks very much,  i just see #215 , the struct has  "num_partitions"
/**
 * @name CreateTopics
 * @{
 */

/**
 * @brief NewTopic type, used with CreateTopics.
 */
struct rd_kafka_NewTopic_s {
        /* Required */
        char *topic;            /**< Topic to be created */
        int num_partitions;     /**< Number of partitions to create */
        int replication_factor; /**< Replication fact

[2019-07-24 08:36] Steveb-p commented on #243
@ayamzh You're referencing librdkafka API that Nick specifically said earlier is not implemented yet (#215)

[2019-07-24 08:37] ayamzh commented on #243
the kafka  config/server.properties's num.partitions , is the partitions default value when i use php client to call newTopic,  but

[2019-07-24 08:42] ayamzh commented on #243
thanks a lot , if you can help me to reslove it . i need the newTopic function can set the partition num of the topic

[2019-07-24 08:42] nick-zh commented on #243
@ayamzh this function is available in https://github.com/edenhill/librdkafka, the php extensian (which this project is), does not implement all the functionality that librdkafka offers. #215 is what we need to do and what you need. Right now we cannot do this in PHP. Hope this clarification helps :wink:

[2019-07-24 08:56] nick-zh commented on #189
@chabior i don't know if there are any current plans right now. But i think this can be resolved. Please subscribe to #215 if you want to track the progress an this.

[2019-07-24 10:48] ayamzh commented on #243
@nick-zh thanks.i  have subscribed #215 ,i look forward you to reslove it

[2019-07-24 10:53] nick-zh commented on #243
@ayamzh perfect, this can be closed then

[2019-07-25 07:50] harshadvichare commented on #239
Thanks .

Is this batch reading functionality  in consumer is same as max.poll.records supported in kafka.
Current version of librdkafka not support max.poll.records.
So can you please update what should be difference in both cases

[2019-07-25 08:17] nick-zh commented on #239
`rd_kafka_consume_batch` has an argument `rkmessages_size` which, at least in my understanding, returns the amount of messages you requested. I see there is an issue with discussions about `max.poll.recors` but i think, this goes in a different direction, i will check and follow up here.

[2019-07-25 18:59] nick-zh commented on #121
@arnaud-lb this has been added to the doc and can be closed

[2019-07-25 19:00] nick-zh commented on #123
@arnaud-lb i think this can be closed

[2019-07-25 19:09] nick-zh commented on #124
@xiexiangnow does this help or do you need further feedback?

[2019-07-25 19:45] nick-zh commented on #145
@arnaud-lb this can be closed

[2019-07-25 19:46] nick-zh commented on #147
@leisuredev do you still need help or has this been resolved?

[2019-07-25 19:48] nick-zh commented on #158
@arnaud-lb i think this can be closed

[2019-07-25 19:50] nick-zh commented on #159
@arnaud-lb i think we can close this

[2019-07-25 19:50] nick-zh commented on #161
@arnaud-lb i think this can be closed

[2019-07-25 19:52] nick-zh commented on #173
@arnaud-lb i think this can be closed

[2019-07-25 19:57] nick-zh commented on #185
@arnaud-lb can be closed

[2019-07-26 04:35] nick-zh commented on #81
I was not able to reproduce this on a more current setup:
PHP version: 7.3.7
librdkafka version: 1.0.1-r1
php-rdkfaka version: 3.1.2
System: alpine-3.10

I ran the same code from @calixwu , i just added the callback directly, so anybody can run this code and try to reproduce it:
[code]

For me it does not matter if i set the timeout to `3000` or `500000` i only get the output from the error callba

[2019-07-26 04:44] nick-zh commented on #127
@kristophjunge i would say it's similar to what i've answered in #81
Here is some example code that should work for you, let me know if you need more help on this:

[code]

[2019-07-26 05:01] nick-zh commented on #152
@aand18 do you still need help with this? Also this part in the error strikes me as a bit odd, the naming seems kind of messed up:
[code]

[2019-07-26 08:57] #121 closed

[2019-07-26 09:04] #185 closed

[2019-07-26 09:05] #173 closed

[2019-07-26 09:05] #161 closed

[2019-07-26 09:05] #159 closed

[2019-07-26 09:05] #158 closed

[2019-07-26 09:05] #145 closed

[2019-07-26 09:05] #123 closed

[2019-07-26 09:06] #243 closed

[2019-07-26 10:46] nick-zh commented on #50
@arnaud-lb since we now also have `rd_kafka_position` exposed, we can close this :tada:

[2019-07-27 11:17] nick-zh commented on #225
@ledocool `RD_KAFKA_RESP_ERR__TIMED_OUT ` is sometimes an indicator for connection issues, yes. Were you able to resolve your issue in the meantime?

[2019-07-27 11:18] #128 closed

[2019-07-27 11:18] #133 closed

[2019-07-27 11:19] #153 closed

[2019-07-27 11:20] nick-zh commented on #176
@yantao1226 can i still help with this or were you able to resovle this in the meantime?

[2019-07-27 11:22] #189 closed

[2019-07-27 12:02] nick-zh opened #248 "Cleanup deprecated librdkafka functions"
This is a ticket to track progress on deprecating or replacing deprecated librdkafka functions and providing their alternatives:

- [x] deprecate ` rd_kafka_errno` (#254)
- [x] deprecate `rd_kafka_errno2err` (#254)
- [x] replace internal `rd_kafka_errno2err` calls with  `rd_kafka_last_error()` (#252)
- [x] deprecate `rd_kafka_set_log_level` (#251)
- [x] deprecate `rd_kafka_set_logger` (#251)
- [x]

[2019-07-27 12:15] #50 closed

[2019-07-27 12:30] ledocool commented on #225
@nick-zh yes, fiddling with certificates helped. I'm posting my configuration later because I think this may be of help to someone.

[2019-07-27 12:32] nick-zh commented on #225
@ledocool very cool, thank you!

[2019-07-27 12:34] #79 closed

[2019-07-27 12:50] arnaud-lb commented on #248
+1.

Regarding `rd_kafka_last_error()`, we should probably not expose it, since we check it ourselves already (we throw exceptions in case of errors). We should replace `rd_kafka_errno2err(errno)` calls by `rd_kafka_last_error()` calls internally, though.

Regarding `rd_kafka_set_log_level()`, we should deprecated `Rdkafka::setLogLevel()` entirely (this method is the OO-equivalent of `rd_kafka_set

[2019-07-27 12:52] nick-zh commented on #248
@arnaud-lb thanks for the feedback, i will try to implement the changes accordingly :+1:

[2019-07-27 13:26] nick-zh commented on #248
@arnaud-lb is there a way to mark `rd_kafka_errno2err` and `rd_kafka_errno` as deprecated? I was unable to find if this is possible with `PHP_FE` since i was unable to find it in the internals doc :sweat_smile:

[2019-07-27 15:25] arnaud-lb commented on #248
Yes, you can use `PHP_DEP_FE()`; it's an alias for `ZEND_DEP_FE()`: https://github.com/php/php-src/blob/php-7.3.7/Zend/zend_API.h#L74

[2019-07-30 05:28] nick-zh commented on #239
@harshadvichare it is as suspected. There is the setting `max.poll.records` that controlls how many records will be returned from a `poll` and it seems `librdkafka` does not support it. So we'll have to set it through `rkmessages_size`

[2019-07-30 05:31] nick-zh commented on #232
@Steveb-p what is the current status on this?

[2019-07-30 05:33] nick-zh commented on #234
@Steveb-p were you able to find out anything?

[2019-07-30 06:02] #186 closed

[2019-07-30 06:02] #191 closed

[2019-07-30 06:02] #198 closed

[2019-07-30 07:40] Steveb-p commented on #234
Unfortunately the code that is relevant to this proved to be completely out of my league in terms of C programming. I'm still reading about PHP extension API and so on, so I doubt I'll do anything meaningful with this in the near future :disappointed:

[2019-07-30 08:16] nick-zh commented on #234
@Steveb-p thx for the feedback. I might give it a go as well, but probably i will be unsuccessful as well :sweat_smile:

[2019-07-30 08:18] Steveb-p commented on #234
@nick-zh I've seen your PR's and I'm trying to learn from them. There was some similar code in one of those, so you actually might be successful.

[2019-07-30 08:23] nick-zh commented on #225
@ledocool i am closing this, but feel free to still add your configuration, could be helpful to others :+1:

[2019-07-30 08:23] #225 closed

[2019-07-30 17:54] nick-zh commented on #234
I tried to reproduce this with:
PHP: `7.0.33`
librdkafka: `1.1.0`
rdkafka: `3.1.2`

From your code snippets, i created this short script to represent your logic:
[code]
In my setup `kafka:9096` was never available and i started and stopped `kafka:9095` multiple times.
I was unable to reproduce the SIGSEV this way.
@PopovAnatolii maybe i am missing something in my example script i used? Or what kin

[2019-07-31 02:50] ledocool commented on #225
@nick-zh oh, I forgot about it!
[code]
Key part is:
[code]

We're using self-signed certificate (extracted from jks storage) for our test machine.

[2019-07-31 05:06] nick-zh commented on #225
@ledocool thank you :+1:

[2019-07-31 20:06] #229 closed

[2019-08-01 12:49] #211 closed

[2019-08-02 08:46] buddy-yao commented on #18
@arnaud-lb I occurred the same error.  i have used setDrMsgCb method, but it was not called.
[code]

[2019-08-02 08:52] nick-zh commented on #18
@buddy-yao please open a new issue and provide all the relevant information to replicate this, thanks!

[2019-08-02 09:03] buddy-yao opened #257 "Producer hangs on poll call"
* PHP version: 7.2.9
 * librdkafka version: 0.11.6
 * php-rdkafka version: 3.1.0
[code]
result:
[code]
trace message:
[code]

[2019-08-02 09:04] buddy-yao commented on #257
same as https://github.com/arnaud-lb/php-rdkafka/issues/18

[2019-08-02 09:52] nick-zh commented on #257
@buddy-yao i tried to reproduce this as close as possible with
php: `7.2.21`
librdkafka: `0.11.6`
php-rdkafka: `3.1.0`

And i cannot reproduce this under normal circumstances.
My result is:
[code]
The only way i can reproduce this, is when i enter a wrong broker, then i get endless output of 1 as well. So since you get `(Connection timed out)` this seems to be connection related.
Maybe setting the

[2019-08-02 10:05] buddy-yao commented on #257
[code]
comment the while loop, the process did not exited.
[code]

[2019-08-02 10:07] nick-zh commented on #257
@buddy-yao correct, when i comment the loop i get `0` followed by `2`

[2019-08-02 10:09] buddy-yao commented on #257
why the process did not exited after print `2`? thank you.

[2019-08-02 10:11] buddy-yao commented on #257
why these callback did not invoked ? it result in i can not see any logs, i don't what happened.

[2019-08-02 10:14] nick-zh commented on #257
i still assume you have connection issues, so the producer is waiting for `message.timeout.ms` which per default is 5m, if you add this:
[code]
You probably will see an error. Let me know

[2019-08-02 10:37] buddy-yao commented on #257
Thank you very much!  @nick-zh

[2019-08-02 10:37] #257 closed

[2019-08-07 07:31] harshadvichare opened #260 "Call to undefined method RdKafka\ProducerTopic::producev()"
While sending message with headers we are getting following errors.

Fatal error: Uncaught Error: Call to undefined method RdKafka\ProducerTopic::producev()

PHP version: 7.0
librdkafka version: librdkafka-0.11.6
php-rdkafka version: php-rdkafka-3.0.5

Is any configuration parameters we need to pass while producing message ?
Or  we are missing something else.

[2019-08-07 07:43] Steveb-p commented on #260
![image](https://user-images.githubusercontent.com/3183926/62604169-c26f0780-b8f7-11e9-85cc-efa303028875.png)

Not really. Just update php-rdkafka ;)

[2019-08-07 07:52] #260 closed

[2019-08-08 05:20] #152 closed

[2019-08-08 05:20] #176 closed

[2019-08-08 05:20] #147 closed

[2019-08-08 05:20] #127 closed

[2019-08-08 05:21] #124 closed

[2019-08-08 05:21] #81 closed

[2019-08-09 08:16] LUDO33500 opened #262 "No such configuration property: "enable.idempotence" error"
Hi，when i use rdkafka library in my project ,it is report some error

my os is win 10 ,
PHP Version 7.2,
rdkafka Version 3.1.2
librdkafka version >= 0.11.0

My code in my Porducer :
[code]

and when i do  var_dump($this->conf->dump())

i don't see the option enable.idempotence

report error:
No such configuration property: "enable.idempotence"

Thanks for your help

[2019-08-09 08:17] Steveb-p commented on #262
`enable.idempotence` is introduced in librdkafka 1.0+.

[2019-08-09 08:18] LUDO33500 commented on #262
Ok thanks
So we must waiting ?

[2019-08-09 08:21] nick-zh commented on #262
@LUDO33500 what @Steveb-p meant is that you need to update librdkafka for this

[2019-08-09 08:23] Steveb-p commented on #262
No, you should either upgrade librdkafka library in your operating system or do not use idempotent producers.

For your explanation:
Phprdkafka is mostly "only" a wrapper around calls to librdkafka library. It simply transforms PHP code to call relevant librdkafka functions (in C, with some tweaks wherever necessary). Since your librdkafka does not have `enable.idempotence` configuration parameter

[2019-08-09 08:26] LUDO33500 commented on #262
Ok thanks for your help i do this !

[2019-08-09 08:28] #262 closed

[2019-08-10 07:20] nick-zh commented on #184
@unfrgivn sry it has been a while. I will try to sum things up, let me know if afterwards we can close this or if you see a way where we can dig in deeper.

So first of all, when i produce a message, it actually goes into a local queue, so even when the producer is down, i am being able to produce messages (to that local queue). The problem arises later, when the broker doesn't come back up in tim

[2019-08-10 07:31] nick-zh commented on #183
Hey guys

So i think @upyx is on the right track. The link he provided states, that the proper shutdown of a consumer consists of the following calls:
- `rd_kafka_consumer_close`
- `rd_kafka_destroy`
It is also mentioned there, that there is no need to call `unsubscribe` before this.
The above calls will be made when the PHP object gets destroyed (https://github.com/arnaud-lb/php-rdkafka/blob/mast

[2019-08-10 07:45] nick-zh commented on #199
@cocktail18 @douyu do you still need help with this? If yes, please try if you still have the same behaviour with `librdkafka:1.1.0` and `rdkafka:3.1.2` and if so, please let me know.

[2019-08-10 07:47] nick-zh commented on #218
@Steveb-p what do you think, should we close this?

[2019-08-11 09:11] nick-zh commented on #157
@beriba may i ask what our usecase is? Since you don't want to consume you could just do this with the low level consumer.

[2019-08-11 10:07] beriba commented on #157
Since it was 1.5 years ago I don't remember what was the use case. Feel free to close this issue because I certainly no longer need it.

[2019-08-11 14:03] #157 closed

[2019-08-11 19:06] Steveb-p commented on #218
Yes, there is no reason to migrate to jekyll since documentation received your careful attention, and might actually be merged as part of PHP docs eventually.

[2019-08-11 19:06] #218 closed

[2019-08-12 13:15] #248 closed

[2019-08-22 10:44] #234 closed

[2019-08-22 11:04] arnaud-lb commented on #196
Thanks for the analysis @sustmi

The current behavior (poll until the queue is empty) is safe by default, as it will attempt to send the messages until they are actually sent. I think that this is a good behavior to retain.

Though I agree that there should be a way to quit earlier. If we expose `rd_kafka_fllush()` and `rd_kafka_purge()`, it would be possible to do something like this:

[code]

WD

[2019-08-22 11:20] Steveb-p commented on #233
Awesome work @nick-zh :) This issue might be closed and/or a documentation one should be opened?

[2019-08-22 21:58] nick-zh commented on #233
@Steveb-p thank you, actually i already have a doc pr open for this: https://github.com/arnaud-lb/php-rdkafka-doc/pull/26
think this can be closed

[2019-08-22 21:58] #233 closed

[2019-08-22 22:02] nick-zh commented on #196
@arnaud-lb building on what was previously mentioned, i think it would be important, that at least all the callbacks that can be triggered from poll, can be executed still (so the application could handle errors). If this is not possible, i would actually get rid of the poll in the destructor and adjust all the examples, and really stress that we need to do flush and purge for a proper shutdown.
I

[2019-08-23 05:25] #241 closed

[2019-08-23 09:02] arnaud-lb commented on #196
Unfortunately, there is no guarantee that callbacks are going to be called during destruction, because the callbacks themselves might have been destroyed by the GC already at this point.

Here are options I can think of:

Option 1: Don't poll in the destructor, and let users poll/flush manually. If the user forgets to do so, messages are lost.
Option 2: Poll in the destructor, and let users poll/f

[2019-08-23 10:01] nick-zh commented on #196
@arnaud-lb in my opinion we should go with Option 1 (we could always adapt if we see, that too many people have problems and add Option 2 again). My reason for option one is, if we don't poll / flush, we can actually anyway never be sure if poll will trigger a callback that is unhandled, which actually then could result in lost messages as well. So i think it is not the extensions responsibility t

[2019-08-23 10:50] Steveb-p commented on #196
Simple solutions are probably best.

This option gives programmer-user the most control in my opinion and should be preferred. It is explicit and shows exactly what is happening. Current behavior is difficult to explain to newcomers, since it involves "hidden" operations that may or may not occur (message is not able to be delivered).

Actually, I believe it will prevent more issues than it might

[2019-08-23 11:55] geruetzel opened #269 "php-rdkafka self compiled for php7.1 not working"
* PHP version: 7.1.31, rdkafka compiled against 7.1.15
 * librdkafka version: 0.8.5, compiled agains >= 0.11
 * php-rdkafka version: 3.1.3-dev/3.1.2
 * kafka version: -

I manually compiled rdkafka for php7.2 and php7.1.

php7.2 seems to be working, at least the extension information shows up in the phpinfo() output and php7.2 starts without error messages.

rdkafka for php7.1 does not work when I

[2019-08-23 12:20] nick-zh commented on #269
@geruetzel only librdkafka `0.11.x` upwards is compatible, `0.8.5` is too old

[2019-08-23 12:22] geruetzel commented on #269
@nick-zh thanks for your reply.
if it is like you say, the documentation here
https://arnaud.le-blanc.net/php-rdkafka/phpdoc/rdkafka.requirements.html
is misleading/outdated.

[2019-08-23 12:24] nick-zh commented on #269
@geruetzel thank you very much, we only updatet the readme, i will take care of it!

[2019-08-23 12:25] Steveb-p commented on #269
@geruetzel support for `<0.10` was only recently dropped. `3.1.0` should work with older versions, but due to internal differences in librdkafka maintaining those old versions proved to cost a lot of additional code & maintenance.

[2019-08-23 12:32] nick-zh commented on #269
@geruetzel let us know if it works properly for you with `0.11.x`, i would advise to go with `1.1.0` if possible

[2019-08-24 09:27] geruetzel commented on #269
@nick-zh @Steveb-p  I get the same error with librdkafka 1.1.0 and php-rdkafka 3.1.2:
`[24-Aug-2019 09:25:06 UTC] PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/lib/php/20160303/rdkafka.so' - /usr/lib/php/20160303/rdkafka.so: undefined symbol: zend_ce_countable in Unknown on line 0`

[2019-08-24 10:52] nick-zh commented on #269
@geruetzel thanks for the thorough follow up, i tried to reproduce this with the following dockerfile:

[code]
Where i try to do the same you did. Somehow this succeeds. I will try to dig deeper and find out why you are getting `undefined symbol: zend_ce_countable`.

[2019-08-24 10:59] nick-zh commented on #269
In your initial comment i saw you have mentioned this:
`PHP version: 7.1.31, rdkafka compiled against 7.1.15`
In your second try with `librdkafka:1.1.0` and `rdkafka.3.1.2` did you compile everything again with the same php version?

[2019-08-24 11:25] geruetzel commented on #269
@nick-zh I was able to even make it a little simpler, tried to load the module on the host it was built on in php-cli:
[code]
so the conclusion can be made, that the version it was compiled against is the same it is run on. still does not work. the local php-cli version is from sury: https://packages.sury.org/php/

[2019-08-24 11:32] nick-zh commented on #269
@geruetzel ok great, thx for the info, so i see now it is mentioned that this php build is for jessie, correct? So to reproduce i should try to use debian jessie and this php from sury?
Just making sure, because you mentioned stretch before

[2019-08-24 11:53] nick-zh commented on #269
Tried to reproduce with `debian:jessie`, `php:7,1` from sury

[code]
Everything went fine, my guess is, you have somewhere either versions or packages from distro not alligned. Let me know if you found something, that helps me narrow it down @geruetzel, thx!

[2019-08-24 16:13] geruetzel commented on #269
@nick-zh thanks for your support. I did not think about building this in a docker container, which is of course an easy and clean way to do it. I was able to extract the compiled extension from the image created by your Dockerfile and it ran without errors on my php install. Thanks for your patience despite the fact, that you software is not the cause of my problem :)

[2019-08-24 16:13] #269 closed

[2019-08-24 17:18] Steveb-p commented on #269
That's @nick-zh for you ;)

:+1:

[2019-08-25 16:26] nick-zh opened #272 "Segfault on Producer::newQueue"
* PHP version: 7.3
 * librdkafka version: 1.1.0
 * php-rdkafka version: master
 * kafka version: -

It seem when we call `newQueue` it results in a segfault right now. gdb says it happens on this line:
`zend_hash_index_add_ptr(&intern->queues, (zend_ulong)queue_intern, queue_intern);`
**Update:** Root cause is, that the queues only get initialized for consumers atm, fix is on the way

[2019-08-25 16:39] #183 closed

[2019-08-25 16:40] #184 closed

[2019-08-25 16:40] #199 closed

[2019-08-25 16:40] #232 closed

[2019-08-26 08:23] inri13666 commented on #152
Have the same issue, but found the reason.
Please check that your PHP root folder contain `librdkafka.dll`

[2019-08-26 08:26] inri13666 commented on #159
For PHP 7.2 binaries can be found here http://windows.php.net/downloads/pecl/snaps/rdkafka/
Also, do not forget to add `librdkafka.dll` (./ext/.../librdkafka.dll), because may have an issue described here https://github.com/arnaud-lb/php-rdkafka/issues/152

[2019-08-26 16:02] arnaud-lb commented on #196
Agreed, the current behavior is confusing. Let's go for option 1. We have to document this change, and release this in a new major version, though.

[2019-08-28 21:42] abhimanyuseth commented on #192
I had the same problem, but on MacOS. I had to reinstall openssl with brew and also librdkafka with homebrew. After that, it worked.
It wasn't working when I installed from source.

[2019-09-05 14:54] daydaygo opened #275 "php core dump from ext-rdkafka"
* PHP version: 7.1.13
 * librdkafka version: 0.11.4
 * php-rdkafka version: 3.1.2
 * kafka version: 2.11-0.10.1.0

use `gdb php /path/to/core.php`, then use `bt` for backtrace

[code]

[2019-09-05 14:57] nick-zh commented on #275
@daydaygo can you provide more information on what actually led to this core dump? thx in advance

[2019-09-05 15:45] #272 closed

[2019-09-05 15:45] #196 closed

[2019-09-05 15:49] nick-zh commented on #137
@arnaud-lb i don't think this is possible, at least i was unable to find how to do this in librdkafka, i might be mistaken though. Let me know, if there is a way, i will try to contribute.

[2019-09-05 15:51] daydaygo commented on #275
- gdb
[code]

- php code
[code]

[2019-09-05 15:54] nick-zh commented on #275
@daydaygo thank you, does it happen during consume or before? Does it happen at the end when you are finished?

[2019-09-05 16:04] nick-zh commented on #275
ok so i see in the trace that it has happening during the destruct of the consumer.
I think this is related to #196, there is unsafe behaviour that can happen if callbacks are getting
triggered during destruct. This was fixed recently and is now in master. You could try build master to see if you still have the problem or wait for the next release which should fix this.
The next release shouldn't

[2019-09-05 16:07] daydaygo commented on #275
@nick-zh i got `core.php` file and use `gdb` for the info, how to get more info to debug this problem? i can't get when it happen. but i `guess` when deploy happened and the application restart, the rakafka consumer may produce the `core.php` file

[2019-09-05 16:08] nick-zh commented on #275
@daydaygo no it's ok, i think i know what the problem is, disregard my previous message, we fixed this for the low level consumer, i see that we still have this behaviour in the high level consumer, i will try to provide a fix very soon.

[2019-09-09 06:16] nick-zh opened #277 "Check if we need more tests"
There was quite some functionality added and it would be nice to check if it would make sense to have some more tests for the newly added functionality. This ticket is to check which tests make sense (and document it here) and also to add them.

[2019-09-09 06:20] nick-zh commented on #220
@Steveb-p what is the current state on this? Do you need any assistance with #223, i think it would be really cool if we could fix this :)

[2019-09-15 19:37] dirx opened #279 "Throw \InvalidArgumentException on invalid partitioner in TopicConf::setPartitioner?"
Why not throwing \InvalidArgumentException in TopicConf::setPartitioner instead of \Exception?
\InvalidArgumentException is used, for example, when checking for partition or batch size ranges.

https://github.com/arnaud-lb/php-rdkafka/blob/e028db86f213befbe9b51265f0237ed7211f281d/conf.c#L809

[2019-09-15 20:04] dirx opened #280 "Segmentation fault with Conf::setLogCb"
* PHP version: 7.2.21 & 7.4-rc1 (both with xdebug)
 * librdkafka version: v1.0.0
 * php-rdkafka version: master
 * kafka version: -

Script crashes with "segmentation fault" while all works fine when explicitly setting ```$conf->set('log.queue', 'true');```:

[code]

[2019-09-16 05:14] nick-zh commented on #280
@dirx thx for the report, the extension should do this on it's own, but it seems something is amiss then, i will check it out

[2019-09-16 05:41] nick-zh commented on #279
@dirx thx for the report, makes sense :+1:

[2019-09-20 09:00] dawei101 commented on #42
@awons I have test it under php-fpm, It could not work.

[2019-09-20 09:08] nick-zh commented on #42
@dawei101 as @awons stated before, he is not working on this anymore. There is no current progress on this. I would say this is on hold for now and i am not sure if this will move forward in the next few months

[2019-09-20 09:16] dawei101 commented on #42
Ok, thanks

[2019-09-20 09:18] nick-zh commented on #42
I can have a look at this next, but i will first take care of introducing the Admin API, so my rough estimate would be, maybe i can find time in november, just as fyi

[2019-09-24 17:22] #279 closed

[2019-09-24 17:22] #275 closed

[2019-09-26 09:25] geopamplona commented on #40
How could the error be controlled and if this message is returned, execute a certain action?

[2019-09-26 09:27] Steveb-p commented on #40
@geopamplona Phprdkafka reconnects automatically in the background.

Also, this issue report is related to an old version of phprdkafka & librdkafka.

[2019-09-26 09:32] nick-zh commented on #40
What @Steveb-p said, also there is the possibility to register an error callback where you could handle / react to stuff if necessary https://arnaud.le-blanc.net/php-rdkafka/phpdoc/rdkafka-conf.seterrorcb.html

[2019-09-26 09:33] geopamplona commented on #40
thanks @nick-zh , I was looking for that

[2019-09-26 09:34] geopamplona commented on #40
thanks @Steveb-p

[2019-09-26 18:16] dirx commented on #215
You may take a look into the experimental ffi binding based admin client implementation - i am not 100% sure about all interfaces:
https://github.com/dirx/php-ffi-librdkafka/tree/master/src/RdKafka/Admin

You may also take a look into confluents go client implementation (also based on librdkafka) https://godoc.org/github.com/confluentinc/confluent-kafka-go/kafka#AdminClient

[2019-09-27 04:05] nick-zh commented on #215
I will check it out, thx @dirx

[2019-09-27 05:18] fwang-laralabs opened #283 "Can I use the chunk function?"
* PHP version: 7.3
 * librdkafka version:
librdkafka version (runtime) => 0.11.3
librdkafka version (build) => 0.11.3.255
 * php-rdkafka version: how can I know on ubuntu?
 * kafka version: kafka_2.12-2.3.0

Can I use the chunk function?
I'm wondering if it's going to be implemented.
If you can use it, I hope you have a friendly example.
My particular message is so big that I need the Chunk featur

[2019-09-27 05:29] nick-zh commented on #283
@fwang-laralabs afaik this is not implemented atm, can you maybe quickly elaborate what it does and what you need it for?

[2019-09-27 05:34] fwang-laralabs commented on #283
My specific message size is 1245858 (1.24k).
I need the ability to send messages in pieces.
I'm producing a message but it's not displaying in the consumer console. (Other messages are well consumed.)
It would be convenient to have a chunk-like interface for laravel collections.
(https://laravel.com/docs/5.8/collections#method-chunk)

[2019-09-27 05:34] fwang-laralabs commented on #283
@nick-zh  what is atm?

[2019-09-27 05:38] nick-zh commented on #283
atm = at the moment :smiley:

[2019-09-27 05:46] nick-zh commented on #283
@fwang-laralabs ah ok i understand, i might be mistaken, but i think Kafka doesn't have this feature.
So unless i am mistaken, there are mutiple solutions:
- Either allow the message size to be higher (can be configured through `message.max.bytes` on producer and broker)
- or you chunk it up yourself and add metadata to the headers, so your header could contain a `chunk_group_id` and a `chunk_sequ

[2019-09-27 05:54] nick-zh commented on #283
@fwang-laralabs regarding implementing this in your application, maybe this article helps, it elaborates a bit more how you would do this on the producer / consumer side:
https://medium.com/workday-engineering/large-message-handling-with-kafka-chunking-vs-external-store-33b0fc4ccf14

[2019-09-27 05:58] fwang-laralabs commented on #283
.../opt/kafka/config# vi /opt/kafka/config/server.properties

server.properties 에 수정하고 테스트 해보았습니다.
정상동작하지 않아서, producer 쪽도 수정해 보았습니다.
.../opt/kafka/config# vi /opt/kafka/config/producer.properties
max.request.size=10000000

하지만 여전히 큰 메세지는 동작 하지 않습니다. :(

이에 대한 부분을 찾고 있습니다.

chunking 을 할지, 서버 수정을 통한 큰 메세지 전달이 가능하도록 할지 고민중입니다.

당신의 답변 감사합니다.

[2019-09-27 06:01] nick-zh commented on #283
for the producer you also need to set the setting `message.max.bytes`

[2019-09-27 06:34] fwang-laralabs commented on #283
Can I do this?
        $pconf = new Conf();
        $pconf->set("message.max.bytes", 10000000 );
        $this->producer = new Producer( $pconf );

Let's try it.
Thank you for your kind reply. :)

[2019-09-27 06:42] nick-zh commented on #283
@fwang-laralabs yes, this should work if the broker is set correctly as well :+1:
Let me know if it works

[2019-09-27 07:07] fwang-laralabs commented on #283
Works fine. Thanks to :)

[2019-09-27 08:11] #283 closed

[2019-09-27 13:10] geopamplona opened #284 "php code cannot commit msg offset"
Hi,

I am using the library to consume a Kafka queue, with this config:
`$ topicConf-> set ('enable.auto.commit', 'false');`

When I consume a message I commit manually:
`$ consumer-> commit ($ message);`

so far everything works correctly, I consume the queue and according to messages everything works fine.

I used a kafka cluster with 4 brokers, and now I'm trying to balance the cluster to turn

[2019-09-27 13:12] Steveb-p commented on #284
@geopamplona What consumer group ID did you assign to the consumer?

[2019-09-27 13:18] geopamplona commented on #284
i assign gropu-ib and client.id:

        $conf->set('group.id', 'client');
        $conf->set('client.id', 'client');

Does the problem have the same value?

[2019-09-27 13:20] Steveb-p commented on #284
No, but not assigning `group.id` would cause Kafka 2.0 to discard commit instructions (since it would not know what consumer group the process belongs to and consequently would start over each time you connect).

Try to upgrade first and see if it helps.

[2019-09-27 13:24] geopamplona commented on #284
perfect, i will try upgrade first
I not using kafka 2.0, i using kafka 1.1.x
I will try next week,
thanks you very much !

[2019-09-27 13:58] nick-zh commented on #284
@geopamplona besides what @Steveb-p said, i have the following inputs

This might help: https://arnaud.le-blanc.net/php-rdkafka/phpdoc/rdkafka-conf.setoffsetcommitcb.html
You only need this if you use `commitAsync`, `commit` is synchronous and throws an exception on error

Actually Kafka doesn't send messages, rather a consumer fetches them. Committing offsets to Kafka is like acknowledging a mess

[2019-09-28 07:19] MrMoronIV commented on #42
Excuse me if I'm wrong, but what if there is a php background script running as a daemon accepting new messages (maybe via socket/ api / or checking a mysql table for queued messages) and forward them to kafka?

This script would then just open the connection with kafka once and produce messages when needed.

It's probably not a good idea to shoot messages to kafka during a page load right?

[2019-09-28 07:43] Steveb-p commented on #42
@MrMoronIV you're partially right, currently it's not exactly 100% safe to send messages to Kafka from PHP process that handles web requests, like PHP-FPM, Apache PHP mod or PHP SAPI - but the reason is not that it's slow.

Usually what phprdkafka does when you're producing a message is:
1. Send a message to background thread (separate from the one handling the web request, similar in concept to y

[2019-09-30 15:48] ssi-anik opened #285 "consumer group cannot be set"
New to Apache Kafka. Trying to learn from other people's code.
 * PHP version: `7.3.0RC6`
 * librdkafka version:
![librdkafka-version](https://user-images.githubusercontent.com/2676602/65893798-69d55b80-e3ca-11e9-8746-df95c4e601eb.png)
 * php-rdkafka version:
![php-rdkafka](https://user-images.githubusercontent.com/2676602/65894008-ce90b600-e3ca-11e9-8857-70e89bdde3a2.png)

 * kafka version: `bitn

[2019-09-30 15:55] ssi-anik commented on #285
I found how to do it. [HERE](https://developpaper.com/kafka-php-uses-rdkafka-production-consumption-data/) under `Consumer-High Level` section.

[2019-09-30 15:55] #285 closed

[2019-10-01 04:08] nick-zh commented on #285
For future reference, the documentation with examples can be found here:
https://arnaud.le-blanc.net/php-rdkafka/phpdoc/book.rdkafka.html
Cheers

[2019-10-01 07:10] geopamplona commented on #284
I upgrade libs

[code]

now I get this warning

[code]

the error still occurs

Can you provide some example of a strict implementation of Kafka consumer? Or the only examples are those of the web?

something strange happens at this point;

during the error, a snapshot backup of the entire server is performed; Could this influence the connection between php code and kafka? or when confirming messa

[2019-10-01 07:24] nick-zh commented on #284
you are probably setting it for the default topic conf instead of just the conf (global), meaning you need to do this:
```$conf->set('enable.auto.commit', 'false');```

i would say a rough example looks something like this:
[code]

I am not sure how this is being done, but basically this shouldn't influence your cluster / broker. If it does you might wan't to do this in a different way (mirrormake

[2019-10-02 01:26] anam-hossain opened #286 "How to set message retention time?"
Is there any way to set message expiry date (TTL)?
What is the default message expiry time?

 * PHP version: 7.3
 * librdkafka version: v1.2.0
 * php-rdkafka version: 3.1.2
 * kafka version: 2.3.0

[2019-10-02 07:41] Steveb-p commented on #286
@anam-hossain There is no expiry date in Kafka (as a concept). You can set a particular `topic` to have time-based retention, due internal workings of Kafka do **NOT** guarantee that messages will be deleted after specified time - this option is used to prevent expansion of topic in terms of space, not as part of message broker logic.

If you want some form of TTL then you're either better of with

[2019-10-02 08:01] nick-zh commented on #286
It is exactly as @Steveb-p said, you might want to read more about message retention and compaction.
As an alternative, you could of course also add a header field `Expiry` and make sure your consumer disregards them if they have expired. This is however unsafer than doing it with retetion / compaction, since it is not guaranteed, that your client (consumer) will comply to those rules.

[2019-10-02 08:01] #286 closed

[2019-10-02 08:15] geopamplona commented on #284
Thanks @nick-zh

I apply your code, but I have this Expcetion:

I know that taking a snapshot is not the best way, we are working on changing this

[2019-10-02 08:44] nick-zh commented on #284
@geopamplona what are you passing to the commit call? it needs to be either an  instance `RdKafka\Message` or `RdKafka\TopicPartition` as documented here https://arnaud.le-blanc.net/php-rdkafka/phpdoc/rdkafka-kafkaconsumer.commit.html
The error suggests you are passing something to commit that is not supported

[2019-10-02 09:06] geopamplona commented on #284
I think that fail when try commit timeout msg; because I am passing rdkafka/message object correctly:

![imagen](https://user-images.githubusercontent.com/25028240/66031086-f7b46200-e502-11e9-9458-ed9fee1c9fbf.png)

Timeout for my consumer is 1 sec (1000ms); its very low

I have already managed to make it work, it was cause of the low timeout for the consumer.
But in case of timeout how will the c

[2019-10-02 09:22] nick-zh commented on #284
@geopamplona so actually what timeout means is: you didn't get a new message in x time (x being the timeout you set). So there is actually nothing to commit. This is more of a "soft" error same as end of partitions and is totally fine. Most consumers probably don't care about timeout or eof and just continue trying to read new  messages. To your question, yes only commit when `RD_KAFKA_RESP_ERR_NO

[2019-10-03 14:10] MrMoronIV commented on #42
Are you willing to share this code? I'm so confused as to why there is no popular standalone daemon that takes messages via a socket and delivers them in the order they were received (and takes care of retries in case of outage)

[2019-10-03 21:45] sgpennebaker opened #287 "brew fail"
* PHP version: 7.1.23
 * librdkafka version: 1.2.0
 * php-rdkafka version: none
 * kafka version: 2.3.0

tried a couple of other versions for fun, they also fail:

brew install php71-rdkafka

(skipping brew bookkeeping)

Error: No available formula with the name "php71-rdkafka"
==> Searching for a previously deleted formula (in the last month)...
Warning: homebrew/core is shallow clone. To get com

[2019-10-03 22:26] nick-zh commented on #287
i am not familiar with osx installation, with a quick search i only found this:
https://github.com/Homebrew/homebrew-core/issues/26875
Maybe you could try installing it through PECL

[2019-10-03 22:38] sgpennebaker commented on #287
you should probably take the brew documentation out then...

trying to do the manual build now (much comedy), will try PECL next.

[2019-10-03 22:56] Steveb-p commented on #42
@MrMoronIV It's nothing too complicated really.

What I've meant by delegating is I'm saving them to a "temporary" storage (in my case Redis, but it can be anything). Background process simply reads that storage and pushes messages into Kafka.

If you think about it this helps alleviate a number of issues. Using a permanently running process that listens on a socket would be fine, but in case of a

[2019-10-04 06:22] MrMoronIV commented on #42
Why do you say this? Did you have issues yourself or do you just want to be sure I'm not fixated on the first thing mentioned and should consider all available options first? You kinda make it sound like I should avoid this package all together!

On a side note: I do like the redis approach but yeah, it means another package installed on my servers yet again.

[2019-10-04 06:32] nick-zh commented on #42
@Steveb-p @MrMoronIV i love the inputs, don't get me wrong, but i think we are getting side tracked here now. If you want to continue discussing this, i would appreciate it, that you move it to another issue, thx guys :+1:

[2019-10-04 07:08] #284 closed

[2019-10-04 07:55] Steveb-p commented on #42
Sure, we will move to phprdkafka gitter. Do you mind @MrMoronIV ?

I don't want to advertise it, and I know some people run into issues with it, so I don't want you to waste your time for too long if you run into some. Give it a shot and see if it's alright for you. For all I know Timesplinter (which is a contributor here) does use it, I think?

You can use filesystem to store messages. Php-enqueu

[2019-10-04 08:17] nick-zh commented on #42
@Steveb-p it is indeed possible, but from what i got, it is still not that easy. I don't have a lot of time right now and since we use swoole in our project, i don't have an urgent need for this feature anymore, but i will still try to give it a go after i resolved issue 215

[2019-10-04 08:19] nick-zh commented on #287
@sgpennebaker i updated the doc. I am closing this for now, if you were not able to install through pecl, you can still let me know here :+1:

[2019-10-04 08:19] #287 closed

[2019-10-09 04:11] jiegege opened #289 "rdkafka 4.0 questions"
* PHP version: docker  php:7.2.23-cli-alpine
 * librdkafka version:
 * php-rdkafka version: 4.0.0
 * kafka version:

## docker version :  19.03.2

## question 1:
[code]

## question 2:
[code]

## question 3:
[code]

[2019-10-09 05:29] nick-zh commented on #289
Dear @jiegege

Question 1 + 3 relate to this: #251 and #254, in version 4.0 we deprecated stuff that is deprecated in librdkafka as well. There was erroneous behaviour while using errno stuff. For logging, as you already figured out, you can use `RdKafka\Conf::setLogCb` where you can pass a `callable`.
Question 2: I will check what is going wrong here, seems arguments are amiss.

[2019-10-09 05:38] nick-zh commented on #289
@jiegege can you maybe give more input on how i can reproduce this with `setLogCb`, i tried it with:
[code]
Seems to work fine. Can you also please state which `librdkafka` version you are using?
Please not, that anything below `librdkafka:0.11.x` is not supported anymore.

[2019-10-09 06:07] jiegege commented on #289
My librdkafka version:
[code]

[2019-10-09 06:14] nick-zh commented on #289
@jiegege as a side note: you should probably avoid using a release candidate.
I think i found the problem, i opened a PR, can you maybe checkout the branch `fix-log-cb-argument` and build it locally to see if that solves your problem?
If you can't do that, let me know how i can reproduce the error on my side, so i can test it.

[2019-10-09 06:29] nick-zh commented on #289
@jiegege nevermind i found the warning, the open PR gets rid of it.
You should be fine either way, `setLogCb` should work regardless.
Same goes for the other warnings, we deprecated some functions but, since we didn't delete them, some warnings will pop up.

[2019-10-09 06:29] #289 closed

[2019-10-09 06:34] jiegege commented on #289
Ok, I understand
You are right, although issued a warning, but can install correctly
I just want to be perfect

[2019-10-09 06:51] nick-zh commented on #289
@jiegege that's a very good quality :wink: my PR will get rid of one warning, the others sadly will stay until we delete the deprecated functions.

[2019-10-09 16:17] wesleywillians opened #292 "Producer is not sending the msg"
* PHP version: 7.3
 * php-rdkafka version: 4
 * kafka version: 5.3.1-ccs (Commit:03799faf9878a999)

Hello guys,

Since the new version, my producer is not able to send new msgs.
I set the debug to all and got this msg: https://gist.github.com/wesleywillians/b64806d00b8e5c825c169565022da093

I'm using pretty much the same example of the documentation.

Any idea?

[2019-10-10 05:32] nick-zh commented on #292
@wesleywillians can you tell me which `librdkafka` version you are using?

[2019-10-10 07:31] Steveb-p commented on #292
@wesleywillians Looks to me like you did not heed the warning in release notes.

@nick-zh Looks like we need to update the samples :)

Logs you've shown indicate that Producer was destroyed as part of the shutdown process of PHP. Previously messages in queue prevented shutdown from completing, which caused many issues. 4.0 no longer does that. You will need to check queue state and keep the proces

[2019-10-10 07:38] nick-zh commented on #292
@nick-zh i think documentation should be inplace, in the readme it is this section: https://github.com/arnaud-lb/php-rdkafka#proper-shutdown
and in the documentation, below the producer example is the shutdown example:
https://arnaud.le-blanc.net/php-rdkafka/phpdoc/rdkafka.examples-producer.html
If something is unclear or badly formulated, please let me know so we can adjust this accordingly.
As @

[2019-10-10 07:46] Steveb-p commented on #292
We should emphasize that every time we're showing producer in the docs. I'll revisit it when I've got my time off next week, especially since I need to look at enqueue with Kafka finally. Otherwise Timesplinter will kill me, he does all the PRs lately :)

[2019-10-10 07:49] nick-zh commented on #292
@Steveb-p i agree, maybe we could spread this more through out the doc, don't worry i can have a look.
PS: let me know if i can assist on the enqueue side

[2019-10-10 08:13] nick-zh commented on #292
@Steveb-p @wesleywillians i opened 2 PRs for improvements, let me know if you feel it should be added somewhere else as well.

[2019-10-10 20:10] wesleywillians commented on #292
Thank you very much. Should I use flush or poll to terminate my producer.
Do I need to add this while if I'm using flush?

[2019-10-10 20:13] wesleywillians commented on #292
I think its much better. Basically I just need to add the flush after the message has been produced.

Will test here and let you know.

[2019-10-10 20:19] Steveb-p commented on #292
Use poll if you intend to still send more messages. Use flush as part of preparing the program/application to terminate.

Flush is a blocking, and accepts maximum timeout in millisends. After that time internal Kafka client will be purged of messages (right @nick-zh ?).
While is used in poll example to show how you can do something else while still polling. Theoretically you could just set timeout

[2019-10-11 04:18] nick-zh commented on #292
**Using poll:**
Poll triggers your callbacks (if you have any). So it is vital if you use callbacks, to see if you
had any errors, etc. While you are producing, you should call this at regular intervals, otherwise
your internal queue might fill up (and in the end result in RD_KAFKA_RESP_ERR__QUEUE_FULL`).

**Using flush:**
Flush waits until all outstanding requests (e.g. `produce`) are completed.

[2019-10-11 08:23] Steveb-p commented on #292
@nick-zh I assumed (wrong) that `flush` lead to destruction of internal Kafka instances and was meant as an ending operation before shutdown.

What is the difference between `poll`ing and `flush`ing? Since `flush` calls `poll` internally (and trigger callbacks), there doesn't seem to be a lot of difference.

[2019-10-11 08:44] nick-zh commented on #292
@Steveb-p i haven't checked the internals of `flush` it is meant as a blocking operation before you close your application. Before the extension did this (sort of) in the destructor, which was buggy though.
I checked and you are right, flush calls poll as well, so we don't need to do it after flush :+1:

[2019-10-11 12:50] wesleywillians commented on #292
So, basically the difference between poll and flush is the callbacks. Because even flushing I do need to add a while(true) in order to guarantee that all messages were delivered. Correct? Or you recommend that I always use poll after I run a produce method and forget the flush. (as I can see, poll also calls flush, right?)

[2019-10-11 13:00] nick-zh commented on #292
@wesleywillians sry for the confusion, `flush` calls `poll`, so ultimately probably if you use `flush` you should be fine. Depends on your producer, if you produce a lot of messages in one go, you should call `poll` from time to time to handle callbacks. If you only produce a few messges and then end, `flush` should be fine.

[2019-10-11 14:17] wesleywillians commented on #292
@nick-zh  and @Steveb-p Thank you very much for the help.

I'm creating an abstraction layer (lib) in order to facilitate the usage of the php-rdkafka based on middleware.  Now with the versoin for, I need to adapt some methods (including the setDefault that was deprecated).

I'll look into your documentation and if I find something to improve I send a PR. Ok?

[2019-10-11 14:18] Steveb-p commented on #292
You're more than welcome :)

[2019-10-11 14:22] #292 closed

[2019-10-13 13:56] dengxianjie opened #299 "thousands of logs in broker but calls "consume" returns RD_KAFKA_RESP_ERR__PARTITION_EOF"
* PHP version:PHP 7.1.9
 * librdkafka version:
 * php-rdkafka version:3.0.6-dev
 * kafka version:

Sir,
    I use High-level consumer and my code likes below, omit the process of instancing object.

[code]

In my log.txt, after consume several minutes, I found that regular consume results and RD_KAFKA_RESP_ERR__PARTITION_EOF results appears alternately and continuously . I sure that there is still

[2019-10-14 05:23] nick-zh commented on #299
Good morning @dengxianjie

There are multiple things that could cause, this, but might first assumption would
be, that in the conf you used to instantiate your consumer, you didn't set:
[code]
The default for this setting is `latest`, which means you only read new messages.
Let me know if that helps.

Cheers,
Nick

[2019-10-14 05:51] dengxianjie commented on #299
Thanks for your reply :)
I have set that
`$topicConf->set('auto.offset.reset', 'largest');`
in my program.
And I found from documentation (https://github.com/edenhill/librdkafka/blob/master/CONFIGURATION.md)
 that describe the "auto.offset.reset" means below,

 _Action to take when there is no initial offset in offset store or the desired offset is out of range:
  'smallest','earliest' - automatic

[2019-10-14 06:03] nick-zh commented on #299
heya @dengxianjie
Well it depends on your usecase, basically `auto.offset.reset` applies when you have no offset stored, so the very first time you start your consumer.
If you care about previous messages, choose `earliest`. If you only care about new messages, choose `latest`.
But again, this setting is only used for the very first time you connect. After that, your consumer will always continue

[2019-10-14 06:41] dengxianjie commented on #299
Oh sorry ,I confused about the `auto.offset.reset` meaning and I am very grateful to you for helping me clear things up. But it seems not helping for solving the problem. Excuse me and I would like to show the detail logs which based on my code in the very beginning comment.

I have logged the loop number and time, and obviously offset in return is continuously but RD_KAFKA_RESP_ERR__PARTITION_EOF

[2019-10-14 06:50] nick-zh commented on #299
@dengxianjie no worries man, we are here to help. It is a bit hard for me to help regarding this, but i will try my best. So it could be, that with your tests before, you maybe read one message, the problem then is, that you might have already committed an offset.
To be sure, to read every message from beginning, change your consumer group to something new, since your current group might have alre

[2019-10-14 07:12] dengxianjie commented on #299
ok, I will try the 'earliest' way firstly . Further more i will try manually handle the offset instead.

[2019-10-17 16:12] cmb69 commented on #162
Binary Windows packages of rdkafka 4.0.0 [are now available](https://windows.php.net/downloads/pecl/snaps/rdkafka/4.0.0/) for testing. They do not contain the fix from PR #294, so will likely segfault during shutdown, and as such are not suitable for production. As soon as new rdkafka versions will be released, builds for these versions should be triggered automatically again, and the DLLs should

[2019-10-17 17:08] nick-zh commented on #162
@cmb69 awesome, thank you very much for the support :+1:
will this also be available for any new 3.1.x versions?

[2019-10-17 17:17] cmb69 commented on #162
Yes, all new releases are supposed to be built. Please ping me if that doesn't work.

[2019-10-21 06:01] nick-zh commented on #299
@dengxianjie how is it going? Do you need further assistance with this?

[2019-10-22 18:47] wesleywillians opened #300 "Purge not found"
* PHP version: 7.3
 * librdkafka version:
version => 4.0.0
build date => Oct 22 2019 18:19:16
librdkafka version (runtime) => 0.11.6
librdkafka version (build) => 0.11.6.255

 * php-rdkafka version: 4.0.0
 * kafka version: 2.3

Hello guys,

I'm trying to use the recommendation about flushing the producer before the process finishes. However, I'm getting the erro:

"Call to undefined method RdKafka

[2019-10-22 18:58] Steveb-p commented on #300
Probably `purge` does not exist in librdkafka 0.11.

[2019-10-23 05:14] nick-zh commented on #300
@Steveb-p is correct, purge is only available from `librdkafka:1.0.0`, it seems this is wrong in the documentation. Apologies  @wesleywillians , i will correct this in the doc

[2019-10-23 05:14] #300 closed

[2019-10-23 10:33] simPod opened #301 "Segfault on optimized 7.3.11"
I migrated the app from server running php 7.2 to another server running php 7.3.

The app is the same but on the new server rebalanceCb is called very often (usually under 60s). There are no errors just often rebalancing. Any idea what might be the cause for it?

 * PHP version: 7.3.8
 * librdkafka version: 1.0.1
 * php-rdkafka version: 3.1.0
 * kafka version: 2.1.1

[2019-10-23 10:48] nick-zh commented on #301
@simPod hard to tell, but basically a rebaalance happens when a consumer leaves or joins the group

[2019-10-23 14:56] simPod commented on #301
Ok, I was wondering whether anyone have not encountered similar issue. I tried with php7.2 on the new server and the problem persists so I can exclude the option it's caused by different PHP version. I'll consult ops guy for ideas how to debug it.

[2019-10-23 15:09] nick-zh commented on #301
@simPod running your consumer with log level set to debug might give additional information why this is happening

[2019-10-23 15:27] simPod commented on #301
I forgot it's there, will do. Thx!

[2019-10-23 21:03] wesleywillians commented on #300
No problem! Just making sure ;)

[2019-10-23 21:20] simPod commented on #301
It segfaults :/ Will try some core dumps.

[2019-10-23 21:21] Steveb-p commented on #301
phprdkafka 3.1.0 had some segfault resolved. Try higher minor/patch version.

[2019-10-24 05:03] nick-zh commented on #301
@simPod if the segfaults happen on consumer close, you need to switch to `rdkafka:4.0.0`, this was fixed in #278
If it is happening somewhere else, please share the dump, so i can investigate

[2019-10-24 14:19] simPod commented on #301
@nick-zh

[code]

How to find out whether it's on close or not? Seems like something else as last debug message is commit.

[2019-10-24 16:47] Steveb-p commented on #301
There is a lot of resources on the net regarding debugging an application that has a segfault, but pretty little about diagnosing the segfault itself. I'm no expert but try to run PHP through `gdb` (see https://bugs.php.net/bugs-generating-backtrace.php). You might need a build of PHP with debug symbols enabled. Since you're running through CLI, it should be less of an issue than trying to force m

[2019-10-24 17:22] nick-zh commented on #301
@simPod if you have the core file, doing this (i hope i remember correctly):
[code]
and then i think
[code]
with this we should see where the dump exactly happens, probably that info is already enough for me to figure it out

[2019-10-25 13:12] #299 closed

[2019-10-25 15:51] maks-rafalko commented on #145
Having issues with the same problem. Could you please share your thoughts @awons on how to write persisted producer / consumer using `php-rdkafka`?

[2019-10-25 16:53] Steveb-p commented on #145
@maks-rafalko writing a persistent Producer and/or Consumer is a complex thing to do. To write it as part of C extension that phprdkafka is you would need to maintain some resource that will survive request cleanup and operate between different PHP processes. In world of SQL database drivers there is a concept of persistent connection, but it's usage is highly contested - there are things that aff

[2019-10-25 19:04] maks-rafalko commented on #145
To be honest, I was asking *only* in the context of long-running CLI process, I'm sorry that I didn't make it clear.

We are using `php-rdkafka` (as a backend of Symfony Messenger) and faced with the issue that

[code]

code spends ~1 second just to get the next message from the Kafka. After reading several of the issues here and on the `librdkafka` repository, I decided it is related to the same

[2019-10-25 19:23] Steveb-p commented on #145
@maks-rafalko I'm using phprdkafka with Symfony Messenger as well. I'm using php-enqueue library to create two "queues" - one for Redis and second for Kafka itself. However, any solution combining a "local" queue (like filesystem or a database) would do just fine.

For Kafka consumer, see https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/rdkafka/RdKafkaConsumer.php. Even if you do not end

[2019-10-25 22:06] simPod opened #302 "Is flush() and purge() only Producer thing?"
I don't get `flush()` in https://github.com/arnaud-lb/php-rdkafka/pull/264/files

Is it only for producer? It's exposed in RdKafka class, I'd expect it in Producer only 🤔 Same for `purge()`

Thanks!

[2019-10-26 05:14] nick-zh commented on #302
@simPod you are correct, it is for producer only. As stated in the doc, when called from a consumer, `RD_KAFKA_RESP_ERR__NOT_IMPLEMENTED` will be returned. This is the same behaviour that `librdkafka` has.
Cheers,
Nick

[2019-10-26 05:14] #302 closed

[2019-10-26 05:49] nick-zh commented on #145
I will try to sum up the stuff we have here, to give an overview:

This will be removed in the next bugfix versions (3.x and 4.x), it was only needed for `<=librdkafka:0.9`  (#293, #294)

We used to do polling in the destructor, this was removed (#278, #264), released in `rdkafka:4.0.0`

There are also some interesting settings for shutdown, that can be found in the readme:
https://github.com/arna

[2019-10-26 05:53] nick-zh commented on #145
@Steveb-p i could help out over at enqueue this WE unless you are already in the middle of it anyway, let me know

[2019-10-26 12:34] Steveb-p commented on #220
@nick-zh I'll look into it again this weekend, once I'm done with enqueue.

[2019-10-27 00:30] luowencai opened #304 "err_code: -195, err_msg: Local: Broker transport failure"
* PHP version:7.2.19
 * librdkafka version:1.1.0.255
 * php-rdkafka version:3.1.2
 * kafka version:2.3
we refer to hight level example`s code and occurs the following error
[code]
hight level example  treat RD_KAFKA_RESP_ERR__TRANSPORT=-195 as exception and kafka log did not find any error or warn.
should we treat  itg as normal info? it seems this error will automaticly resume

[2019-10-27 00:35] Steveb-p commented on #304
@luowencai I'm fairly certain your RdKafka instance is unable to communicate with Kafka broker. Are you actually producing or consuming any messages?

What do you mean by high-level example? High-level consumer does not handle this return code: https://arnaud.le-blanc.net/php-rdkafka/phpdoc/rdkafka.examples-high-level-consumer.html

[2019-10-27 10:39] luowencai commented on #304
yes，in our application， this error happen a day or two，it seems it was network instable or other, and after our process restart because of exception，it will resume.
i have find this issue，https://github.com/edenhill/librdkafka/issues/64 ，and it show`s we colud tignore this error  RD_KAFKA_RESP_ERR__TRANSPORT.
i wolud like to ask your suggestion if it`s necessary...

[2019-10-27 10:40] luowencai commented on #304
yes，in our application， this error happen a day or two，it seems it was network instable or other, and after our process restart because of exception，it will resume.
i have find this issue，edenhill/librdkafka#64 ，and it shows we could ignore this error RD_KAFKA_RESP_ERR__TRANSPORT. i wolud like to ask your suggestion if its necessary...

[2019-10-27 12:24] #304 closed

[2019-10-27 12:27] luowencai commented on #304
when this error happen too many times like 5 or 10，we will restart the app，other wise ignore it，continue to watch it

[2019-10-28 06:22] anam-hossain opened #305 "Question: Does Rdkafka handle hard and graceful shutdown?"
Hi guys
I would like to apologies if the question already answered.

We use Kubernetes for automating application deployment, scaling, and management. When Kubernetes wants to kill a pod it does the following:

- A SIGTERM signal is sent to the main process (PID 1) in each container, and a “grace period” countdown starts (defaults to 30 seconds).
- Upon the receival of the `SIGTERM`, each containe

[2019-10-28 06:34] nick-zh commented on #305
Hey @anam-hossain

From what i read, you are only talking about consuming, right?
I think the safest approach would probably be to use [ext-pcntl](https://www.php.net/manual/en/book.pcntl.php) and let the application react to the `SIGTERM`.
On destruction of the consumer, `rd_kafka_consumer_close` is called, which according to
the documentation does the following:

calling rebalance_cb if it is co

[2019-10-29 01:23] anam-hossain commented on #305
@nick-zh Thank you for the detail response. Could you able to check the code below to see I am on the right track or not?

[code]

Questions:

1. It seems messages are automatically committed with High-level consumer eventhough `$consumer->commitAsync($message);` not called.
`Is it expected behaviour? Is there any way we can manually commit the message?`
2. Is it good practice to subscribe to mult

[2019-10-29 06:09] nick-zh commented on #305
@anam-hossain so far looks good to me.

You want to set `enable.auto.commit=false` this way you have control over the offsets.

I'd say there is no silver bullet here. Depends on different factors, one of them being your topics. If you only have a few partitions with low / medium traffic, then it should be perfectly fine. If you have tons of partitions and traffic, you might want to use multiple c

[2019-10-29 06:14] anam-hossain commented on #305
@nick-zh Thank you very much.

[2019-10-29 06:14] #305 closed

[2019-10-29 09:03] Steveb-p commented on #305
@nick-zh We might actually add a comment regarding `enable.auto.commit` in main readme, alongside termination signals handling sample.

[2019-10-29 10:38] maks-rafalko commented on #145
Thank you for the detailed answers. Regarding slow consumers: we were affected by the bug with consumer being initialized more than once (before this commit https://github.com/php-enqueue/enqueue-dev/commit/a07b0f95aecaee32816706d02f9205d0fab08945#diff-a369b1e017795d839d89abb5a6ad58c9), also had this class overridden in our code so upgrade didn't help.

I can confirm that for the `php-enqueu/enque

[2019-10-29 11:04] nick-zh commented on #145
@maks-rafalko thank you very much for the feedback :+1: , glad to hear it is resolved

[2019-10-29 11:05] nick-zh commented on #305
@Steveb-p agreed, i think this would be a good addition for docs and readme, will take care of it this week :+1:

[2019-10-29 15:20] nick-zh commented on #301
@simPod yeah, hard to tell, do you have more log output before the commit and the crash?

[2019-10-31 22:44] anam-hossain commented on #305
@nick-zh I have one more question. Sorry to bother you. We have a producer which push message to Kafka when HTTP request comes in via Nginx (public endpoint). By design, this producer can not be in a job/queue.

Can we use the `pcntl_sigprocmask(SIG_BLOCK, array(SIGIO));` with Nginx process? Does it terminate the PHP process before executing the rest of the PHP code?

According to the doc, the fol

[2019-11-01 05:53] nick-zh commented on #305
@anam-hossain this is perfectly fine to do, please don't forget to use `flush` in the producer (needed since `rdkafka:4.x`)

[2019-11-01 10:33] nick-zh opened #306 "Improve RdKafka\Conf::dump"
When dumping `RdKafka\Conf` you only see the global settings.
Every `rd_kafka_conf_t`  can also have a `rd_kafka_topic_conf_t`,
so it might be confusing to not find certain settings in the dump,
that were set through `RdKafka\Conf::set` like `auto.offset.reset`.
The behaviour should probably be improved, so that if a `rd_kafka_topic_conf_t` exists, it should be dumped as well.

[2019-11-06 14:57] simPod commented on #301
Our admins did not want to invest time into compiling with `--enable-debug` as they would also have to compile all extensions and that would take a lot of time. They instead built PHP with `-O0` flag.
Running under that, I'm unable to reproduce the segfault. Therefore, I suggest to close this. Thanks for help though!

[2019-11-06 16:59] nick-zh commented on #301
@simPod thank you very much for the follow up :+1: , will close, feel free to open a new one if you find out more!

[2019-11-06 16:59] #301 closed

[2019-11-07 03:47] jangbora opened #309 "Hang on construction of Producer"
* PHP version:5.6
 * librdkafka version:1.2.2
 * php-rdkafka version:4.0.0
 * kafka version: 0.10.2.0

Sometimes, hang on construction of Producer is logged in PHP-FPM slow log.
My PHP code is below.

Can I limit wait time for construction via config?

[code]

[2019-11-07 04:27] nick-zh commented on #309
@jangbora this is hard to analyze without additional debug info. How slow are we talking? There shouldn't be any delay while creating the consumer actually.

[2019-11-07 05:02] nick-zh commented on #309
I tried to reproduce this with `php:5.6`, `rdkafka:4.0` and `librdkafka:1.2.1`, `librdkafka:1.2.2-RC1`, `librdkafka:1.2.2-RC2` and i was unable to do so, i used the following Dockerfile with your code:
[code]
Please let me know if you find a way how i can properly reproduce this.
My only guess would have been, that because of network hiccups you might get a delay, but you are doing this one line b

[2019-11-08 14:04] jangbora commented on #309
"Slow" means over 30 seconds (PHP-FPM is configured to terminate over 30 seconds) and it is hard to reproduce for me too, because it happens rarely (about 1 per 3000)

I have a doubt for FCGI environment. (php-rdkafka is used in web server program and apache2 / php-fpm with unix domain socket). Do you have an experience testing on FCGI environment?

I had used php-rdkafka on php5.5 (apache2 + php-

[2019-11-08 14:32] Steveb-p commented on #309
Technically once request reaches PHP-FPM, then it doesn't matter too much what webserver (Apache or Nginx) you're using, so we can safely assume it is related to PHP process only.

Are you 100% sure that this issue occurs exactly on the line with `Producer` instantiation? As far as I know at this point there should be no network traffic related to Kafka yet, so it should not hang even if Kafka bro

[2019-11-08 14:50] nick-zh commented on #309
@jangbora sadly it is hard for me to help out here since you also cannot reproduce it reliably.
My only suspicion was connect to broker too and as @Steveb-p said correctly, there should be no network traffic (unless you have the broker in the config).
We used fpm for a while as well but always over tcp, but we never had any issues.

[2019-11-08 14:57] #309 closed

[2019-11-08 19:33] mcarbonneaux commented on #239
there an equivalent on high level consumer ?

[2019-11-08 19:42] nick-zh commented on #239
@mcarbonneaux there is not, no

[2019-11-08 19:53] #137 closed

[2019-11-12 06:34] mcarbonneaux commented on #239
While be nice to have!

[2019-11-12 07:07] nick-zh commented on #239
@mcarbonneaux would probably be something that you need to implement on top of the extension. Batch consume reads a batch of a certain partition, while this is fine for the low level consumer, this would be a bit more complicated for the high level consumer which relies on a queue.
While still doable, i feel that batch consume doesn't really fit the Kafka spirit anyway.
If you are concerned about

[2019-11-12 18:48] mcarbonneaux commented on #239
in fact i need to consume webserveur log by batch from kafka topic on multiple partition without need to know how partition are assigned... and push it to clickhouse by batch (max n messages, max x milisec)... in one commit if push to clickhouse succed...

[2019-11-12 19:25] Steveb-p commented on #239
@mcarbonneaux if what you want to do is simply read kafka topic and put it into another system, then current high level consumer is enough. It’s not apparent, but kafka consumer does internally load multiple messages into internal, thread-owned queue. My own testing on personal laptop allowed me to achieve throughput of 10k messages per second, so I’d say consuming from kafka should not be expecte

[2019-11-14 07:27] jeferwang opened #312 "consumer->close() not equal consumer->__destroy()?"
`KafkaConsumer->close()` method cannot close kafka tcp connect but `unset($soncumer)` can do it

my php  is run as a daemon process ，when I use `consumer->close()` method，the tcp connect is established status; but use unset($consumer) ,the tcp connect will be close.

sorry for my bad english~

[2019-11-14 09:50] nick-zh commented on #312
It can take some time, but it should actually close the connection.
Please provide everything from the issue template, otherwise it is hard to help this.
 * PHP version:
 * librdkafka version:
 * php-rdkafka version:
 * kafka version:

Also please let me know how i can reproduce this.

[2019-11-14 09:55] nick-zh commented on #312
Ok sry, so i had a quick, so i think you might be right, until the object is destroyed, rdkafka may hold some stuff, close only ensures that the consumer has commited everything and left the consumer group. The object itself will only be released on destruct, hope that helps.

[2019-11-14 09:55] #312 closed

[2019-11-15 13:18] eailyass opened #313 "dll files for php 7.3 on windows"
* PHP version: 7.3
 * librdkafka version: any
 * php-rdkafka version: any
 * kafka version: any
OS: windows x64

is it any valid rdkafka extension for php 7.3 on windows?
I tried different combination of the link below:
https://windows.php.net/downloads/pecl/snaps/rdkafka/4.0.0/
but none of them seems to work I always get my php-cli broken.

[2019-11-15 13:23] nick-zh commented on #313
With the next release, there should a working version for PHP7.3 on pecl, there was work being done to fix this (#162), i can't say atm when the next release will be though

[2019-11-15 13:24] nick-zh commented on #313
@eailyass can you maybe elaborate what is breaking for the ones you tried from the provided link?

[2019-11-15 13:31] eailyass commented on #313
By only typing php -v I get this:

![41CDFB35](https://user-images.githubusercontent.com/10117393/68946950-81b74200-07b4-11ea-8c52-f16021946448.PNG)

[2019-11-15 13:41] nick-zh commented on #313
@eailyass yeah i see, not really usable then, i will check regarding upcoming releases and get back to you

[2019-11-15 13:43] eailyass commented on #313
Thank you

[2019-11-19 20:55] jvarugh commented on #225
@ledocool

I'm doing the exact same this as you right now, but I'm trying to produce to brokers that I do not manage. I was given a truststore.jks file and its password.

I've extracted that into a password protected .pem using keytool -> pkcs12, then openssl -> pem, but still cannot seem to resolve the handshake failure.

1. Why are your ca-cert and regular cert the same?
2. Is your PEM still pas

[2019-11-20 03:11] ledocool commented on #225
As far as I remember we used self-signed certificate and this is why I had to use same certificate in both locations. I remember I reached that via trial and error, so can't really tell why exactly it should be like this. My take would be that this pem is sufficient for validating itself.

I believe so. And yes, "ssl.key.password" contains password to that jks store. The pass could be changed duri

[2019-11-20 13:30] jvarugh commented on #225
@ledocool

KeyStore actually helped me. I found the issue by analyzing the truststore.jks. It did **not** contain certs for several of the brokers listed in the documentation, thus the failure.

Thanks for your help and the quick reply. Cheers.

[2019-11-29 06:21] nick-zh opened #314 "RdKafka\Topic is not found in PHP7.4"
Discovered during https://github.com/jobcloud/messaging-lib/pull/65
phpstan complained with:
[code]

[2019-11-30 15:53] #314 closed

[2019-12-04 16:20] KhaledOmara opened #319 "setDrMsgCb"
* PHP version: 7.2
 * librdkafka version: 1.2.0
 * php-rdkafka version: 3.1.2
 * kafka version: 2.3.0

when I run the code without wrapper function it's working:

	try{
		$conf = new RdKafka\Conf();
		$conf->setDrMsgCb(deliveryCallback());
		$producer = new RdKafka\Producer($conf);
		$producer->addBrokers($serverConn);
		$topic = $producer->newTopic("testreturn");

		for ($i = 0; $i < 10; $i++) {

[2019-12-04 17:40] #319 closed

[2019-12-04 17:59] Steveb-p commented on #319
Too bad you've removed the issue contents, I was wondering what the actual issue was @KhaledOmara :smile:

[2019-12-04 18:51] nick-zh commented on #319
@Steveb-p you can still check the previous version if you go to edited ;)

[2019-12-04 19:22] nick-zh opened #320 "Remove partition 0 from RD_KAFKA_RESP_ERR__TIMED_OUT"
The message object contains partition: 0 when we have `RD_KAFKA_RESP_ERR__TIMED_OUT` in the high level consumer.
This should be fixed to null to avoid confusion about the consumer being stuck on one partition.
Reported by @alexandra-default

[2019-12-05 08:46] #320 closed

[2019-12-06 08:47] #220 closed

[2019-12-08 19:00] nick-zh commented on #162
@cmb69 today there were two bugfix releases, i am not seing any DLLs for `php-rdkafka:4.0.1`, can i somehow check if the build failed (or is still queued)? Sry i am new to pecl, so not sure where to check.
It seems `php-rdkafka:3.1.3` successfully built windows DLLs for php 7.2,7.3,7.4, which is great, thx a lot and thx in advance for helping out with this :bowing_man:

[2019-12-08 19:03] nick-zh commented on #313
i am going to close this duplicate, please check #162 for updates. It seems with the releases today, we got dlls for `php-rdkafka:3.1.3` for php 7.2,7.3 and 7.4. I am following up in #162 about `php-rdkafka:4.0.1`

[2019-12-08 19:03] #313 closed

[2019-12-08 22:51] cmb69 commented on #162
Indeed, the build machine stalled, and I had to manually trigger rebuilds of rdkafka 3.1.3 and 4.0.1. The latter is currently built. :)

[2019-12-09 05:40] nick-zh commented on #162
@cmb69 much appreciated, thx a lot :+1:

[2019-12-09 05:40] #162 closed

[2019-12-09 15:50] #242 closed

[2019-12-12 12:19] Triasto opened #324 "Error on commit from Message, partition is null instead of zero"
* PHP version: 7.3
 * librdkafka version: 1.3.0
 * php-rdkafka version:4.0.1

Yesterday we updated our images and we encountered a whole lot of errors and Messages couldn't be committed anymore.

We produce our data as stated in:
https://github.com/arnaud-lb/php-rdkafka/blob/master/examples/producer.php

Our guess is that the following changes somehow breaks our code.

https://github.com/arnaud-lb

[2019-12-12 12:23] nick-zh commented on #324
@Triasto thx for the report, meanwhile i suggest to stay at `rdkafka:4.0.0` i will check this out tonight

[2019-12-12 15:43] nick-zh commented on #324
Short update, i can confirm that this is an acutal bug, it seems somehow for partition zero i also get null (really unexpected), at least in the few minutes i had to check, which is not cool, because this will cause the behaviour mentioned. I dig a bit more and i will provide a fix this evening. Sry for the inconvenience

[2019-12-12 15:53] Triasto commented on #324
Thanks for checking this so fast!

[2019-12-12 17:32] nick-zh commented on #277
Add testcase for #324, ensure that partition is always an integer for a consumed message (non-error)

[2019-12-13 22:46] renatomefi commented on #324
The version 4.0.1 should be marked as unstable and possibly removed from pecl, this way people jump directly to the next one!

Also as this is a patch that's including features a good ideas would've been releasing as 4.1.0.

Thanks for maintaining it, the fact people are finding this issues shows there's a traction going on here and getting a bit more of criteria on releases will make everyone's l

[2019-12-14 18:15] nick-zh commented on #324
@arnaud-lb anyway we can do this on pecl? I added a warning to the release notes, that's the best i was able to do for now.
@renatomefi yeah totally agree, i want to commit some time to add more tests, sadly i didn't have much time recently, but this shows how important it is.

[2019-12-14 18:50] Steveb-p commented on #324
@nick-zh I think we also need to reiterate on the testing process. The current time it takes to complete is just way too much considering the test matrix we have. We should prioritize some crucial test scenarios and run the others only if they pass. This could mean difference between running automatic tests for 15 minutes instead of 2 hours (which - mind you - block the whole travis pipeline for t

[2019-12-15 16:00] arnaud-lb commented on #324
#327 fixes this.

I've released 4.0.2 on PECL: https://pecl.php.net/package/rdkafka

Thanks @nick-zh.

[2019-12-15 16:00] #324 closed

[2019-12-16 16:16] nick-zh commented on #324
Awesome @arnaud-lb thx! Thanks too for taking the time during this busy season.

[2019-12-22 15:59] nick-zh opened #328 "Dropping PHP EOL versions with next major, prepare for PHP8"
With `php:8.0` approaching next year, i think it would make sense to deprecate all
php versions that have reached EOL.
The versions that are or will be EOL when 8.0 comes out are:
- `php:5.6` (EOL since 12/2018)
- `php:7.0` (EOL since 12/2018)
- `php:7.1` (EOL since 12/2019)
- `php:7.2` (EOL with `php:8.0`)

I think this would help clean the code up and also reduce CI time.
It would probably make

[2019-12-31 16:19] dirx opened #329 "Throw \InvalidArgumentException "Out of range" for partition in ConsumerTopic::offsetStore()?"
Why not checking for correct partition range first (and throwing \InvalidArgumentException if out of range) before calling librdkafka like in other methods (::produce, etc.)?

[2019-12-31 17:16] dirx opened #330 "Fatal error on KafkaConsumerTopic deconstruction"
Stumbled over `Fatal error: Uncaught Exception: RdKafka\Kafka::__construct() has not been called in [no active file] on line 0` after php script ended.

Seems like strange behavior in KafkaConsumerTopic deconstruction. Works for ConsumerTopic & ProducerTopic.

You may re-try with (additionally unsetting $topic explicitly):

[code]

 * PHP version: 7.4.1
 * librdkafka version: 1.3.0
 * php-rdkafka

[2020-01-02 11:09] nick-zh commented on #329
fair point, thx @dirx i added a pr for this

[2020-01-02 11:30] nick-zh commented on #330
@dirx another good find, thx :+1:
i am almost certain we actually shouldn't use this, because with the high level consumer you don't need to care about the topic object :smile:

[2020-01-02 23:25] nick-zh commented on #330
Correction, we need it for metadata, I'll have another look today

[2020-01-04 10:46] maks-rafalko opened #334 "Gzipped headers are being corrupted with producev() method"
* PHP version: `7.3.13`
 * librdkafka version: `v1.2.1`
 * php-rdkafka version: `rdkafka-3.1.2`
 * kafka version: `2.2.0 (Commit:05fcfde8f69b0349)` (not sure, ran `kafka-topics --version`)

## Issue description

We are using MessagePack as a serializer (instead of standard JSON) and Gzip for compressing to reduce the message size, so basically we do the following

`gzencode(msgpack_pack($message))

[2020-01-04 12:19] Steveb-p commented on #334
I've just ran tests with the following code:

[code]

...and data was properly decoded (apart from having a librdkafka error at the end (`Local: Timed out`), but that is irrelevant. Ran test against:
[code]

[2020-01-04 12:26] maks-rafalko commented on #334
@Steveb-p

I'm sorry if it wasn't clear from the ticket description (I just changed the wording) - the issue is with *headers*, not with the message (`payload`) itself.

Please look at the screenshot and `$headers` array from the first message.

[2020-01-04 12:29] maks-rafalko commented on #334
Thank you!

If this is the case, then there is an issue with `php-enqueue/enqueue-dev` where serializer is used incorrectly (in this case I will close this ticket and we will discuss it in https://github.com/php-enqueue/enqueue-dev/issues/1005

[2020-01-04 12:44] Steveb-p commented on #334
I'm looking through Kafka docs and anything related - at first glance it seems that there is no limitation and Kafka should handle header value as a byte string [LINK]:(https://cwiki.apache.org/confluence/display/KAFKA/KIP-82+-+Add+Record+Headers)

[code]

At this point I'm unsure in which library exactly the issue really is. Maybe there some issue with message being encoded a second time in the t

[2020-01-06 06:23] nick-zh commented on #334
@maks-rafalko thx for the report i'll have a look. out of curiosity, might i ask why you are not using the compression that kafka already offers?
@Steveb-p thx for helping out, i'll check if that line is the cause of this

[2020-01-06 07:03] nick-zh commented on #334
As @Steveb-p already said, we are casting everything to string during produce: https://github.com/arnaud-lb/php-rdkafka/blob/8a7b9e74b19268b76e43cf1521ba40d3866cfa16/topic.c#L591
same goes for consuming:
https://github.com/arnaud-lb/php-rdkafka/blob/8a7b9e74b19268b76e43cf1521ba40d3866cfa16/message.c#L80
I totally agree, that we should comply to the Kafka definition and treat it as byte.

[2020-01-07 05:36] Jamesluo1 commented on #92
i also meet this problem, but i checked my server configuration, the advertised host is not 127.0.0.1

[2020-01-07 15:48] chrisfield490 opened #335 "define amount of replications and partitions"
* PHP version: 7.3.11
 * librdkafka version:
 * php-rdkafka version:
 * kafka version: 2.4.0

[2020-01-07 15:49] Steveb-p commented on #335
Php-rdkafka does not yet have ability to Admin API of librdkafka. See #215.

[2020-01-07 16:10] chrisfield490 commented on #335
Noted Thank you

[2020-01-07 16:10] #335 closed

[2020-01-07 17:11] dirx commented on #334
Autodetecting header value length might also be a problem (null byte?):

https://github.com/arnaud-lb/php-rdkafka/blob/20fb00c1c7d04edf198809429e6208f3ee69570a/topic.c#L602

[2020-01-07 19:22] roohitavaf commented on #50
What about metadata? I my application I need to write and read metadata, but unfortunately, it is not possible with C++ API.

[2020-01-07 19:29] nick-zh commented on #50
@roohitavaf this should help:
https://arnaud.le-blanc.net/php-rdkafka-doc/phpdoc/rdkafka.getmetadata.html

[2020-01-07 19:33] roohitavaf commented on #50
Thank, but I am not sure, if it is the metadata that I want. I want the metadata the you can write whenever you commit an offset. It should be for each topic-partition instead of per topic.

[2020-01-07 19:35] nick-zh commented on #50
@roohitavaf can you elaborate more or give me the c function that you are referring to, i am not sure what kind of meta data we are talking about :)

[2020-01-07 19:36] roohitavaf commented on #50
Sure, look at this test:
https://github.com/edenhill/librdkafka/blob/d8f24f9e1932988a9db526e9f97f267d5a544f0d/tests/0099-commit_metadata.c#L184

I want that "Hello word!" :)

[2020-01-07 19:46] roohitavaf commented on #50
You can turn off automatic offset commit and do it manually. Kafka allows you write some metadata whenever you commit the offset and read it back. In our design we rely on this capability to write and read metadata with each offset commit, but C++ API does not have any API for that, so we have to use C API.

[2020-01-07 19:51] nick-zh commented on #50
ok so just to be sure, you want to use this for the php extension as well?
Afaik we cannot set metadata yet in php for a `TopicPartition`, we would need to add this first. I assume it could be read back afterwards with the `offsetCommitCb`

[2020-01-07 19:54] roohitavaf commented on #50
No, I need it for C++. Oh, I am so sorry, I didn't noticed the repo! I just googled and came here. I thought it is official librdkafka :)

[2020-01-07 19:55] nick-zh commented on #50
@roohitavaf no worries man, still very nice input, i think i will add an issue for us as well, might be useful :smile:

[2020-01-07 19:57] nick-zh opened #336 "Support metadata for offset commits"
There is the possibility to pass along metadata for the offsets to commit.
This would be possible if we expose metadata of topic partition and internally set metadata_size accordingly.
The metadata could then be fetched again when calling `getCommittedOffsets`

Original discussion:
https://github.com/arnaud-lb/php-rdkafka/issues/50#issuecomment-571741873

[2020-01-07 20:01] roohitavaf commented on #50
Sure, thanks for your time.

[2020-01-07 21:43] nicofff opened #337 "RdKafka\KafkaConsumer::consume timeout parameter should be of int type"
The signature according to the [docs](https://arnaud.le-blanc.net/php-rdkafka-doc/phpdoc/rdkafka-kafkaconsumer.consume.html) is
`public RdKafka\KafkaConsumer::consume ( string $timeout_ms ) : RdKafka\Message`

The parameter description then says it's an int, which is consistent with the librdkafka [docs](https://docs.confluent.io/2.0.0/clients/librdkafka/classRdKafka_1_1Consumer.html#a0afd32e34228

[2020-01-08 06:30] nick-zh commented on #337
@nicofff thank you very much! I opened a PR for the doc to fix this.

[2020-01-08 06:30] #337 closed

[2020-01-08 09:41] arnaud-lb commented on #334
@dirx: Good catch! This must be the issue.

[2020-02-03 07:15] maks-rafalko commented on #334
Closing as PR is merged. Thank you!

[2020-02-03 07:15] #334 closed

[2020-02-04 18:53] daemyn opened #342 "I keep getting RD_KAFKA_RESP_ERR__TIMED_OUT"
* PHP version: 7.0.3
 * librdkafka version: 1.3.0
 * php-rdkafka version: latest
 * kafka version: 2.11-2.1.1

I keep getting error code -185 (RD_KAFKA_RESP_ERR__TIMED_OUT) after I use `$producer->flush(100)`
The library should be working fine since `$producer->newTopic("test");` is adding the topic to kafka topics list.
For more context, i'm compiling rdkafka library and using php-rdkafka inside

[2020-02-04 19:09] nick-zh commented on #342
Dear @daemyn
No worries, we are here to help, this might be a bit misleading, but
`RD_KAFKA_RESP_ERR_NO_ERROR` as the name suggests, means
everything went fine, you can find all possible return codes in the doc as well:
https://arnaud.le-blanc.net/php-rdkafka-doc/phpdoc/rdkafka.flush.html

Hope that helps!

Cheers,
Nick

[2020-02-04 20:13] daemyn commented on #342
Thank you for the quick answer
Sorry, I meant RD_KAFKA_RESP_ERR__TIMED_OUT i already mentioned that the error code is -185
Again, the client is connected to kafka since the topic was created, but when i send a message i receive timeout error even when i use the same example in the docs

[2020-02-04 20:39] nick-zh commented on #342
@daemyn apologies, may I ask how many messages you produced before you flush? How high is the timeout you set for flush?
If you can provide a piece of code with which I can reproduce this, that would be most helpful.

[2020-02-04 20:41] nick-zh commented on #342
To be sure, you used the code example from here:
https://arnaud.le-blanc.net/php-rdkafka-doc/phpdoc/rdkafka.examples-producer.html
?

[2020-02-04 20:58] daemyn commented on #342
I used the exact same code from the example and still get TIMED_OUT when i flush

[2020-02-05 06:17] nick-zh commented on #342
Ok so i tried to reproduce this with:

os: alpine
php: 7.0.33
librdkafka: 1.3.0
rdkafka: 4.0.2

But everything seems to work properly with the example code. Maybe you could check, either with a consumer or an inspection tool, to check if the messages ended up in Kafka. To get more debug output, you can also set:
[code]

[2020-02-05 06:22] nick-zh commented on #342
Only way i can reproduce this, if the broker is down, then i get:
[code]

[2020-02-05 08:36] moukoublen opened #343 "RD_KAFKA_RESP_ERR__TIMED_OUT on no message after poll"
https://github.com/arnaud-lb/php-rdkafka/blob/bad5cbaa2810ca5339540c7e11c277362cb736b1/kafka_consumer.c#L398

Hello,
This is a question mostly rather than an issue :blush:

I'd like to ask why the default behavior of librdkafka (return null if no message appears during the specified timeout) has been replaced by returning the `RD_KAFKA_RESP_ERR__TIMED_OUT` error code.

To my understanding having a

[2020-02-05 08:50] nick-zh commented on #343
hey @moukoublen

afaik, timeout is still present if you consume and don't get a message in the given consume timeout.
The only change that i am aware of is, that for end of partition you will now get null instead of `RD_KAFKA_RESP_ERR__PARTITION_EOF` unless you set this in your conf:
[code]
Hope this helps.

Cheers

[2020-02-05 08:55] moukoublen commented on #343
Hi

I checked librdkafka examples
https://github.com/edenhill/librdkafka/blob/36283d1f8870be0824d97940abcf04d6d202a0ec/examples/consumer.c#L210

[code]
and it seems to me that when the timeout passes without message `rd_kafka_consumer_poll` just returns a null message (I also tested locally).

That's why I am confused. :confused:

[2020-02-05 09:53] nick-zh commented on #343
@moukoublen the differentiation right now is not possible, both will end in a timeout. So if the brokers recovers in a certain amount of time, you might not get an error at all, just timeouts.

[2020-02-05 10:25] moukoublen commented on #343
@nick-zh thanks for the answers so far :smile:

So right now in php-rdkafka there is a differentiation from the default behavior of librdkafka

In (_librdkafka_) `rd_kafka_consumer_poll` when the timeout passes without any message arriving a null message pointer is being returned.

But in php-rdkafka in case of null message pointer the `RD_KAFKA_RESP_ERR__TIMED_OUT` is being returned specifically.

[2020-02-05 11:00] nick-zh commented on #343
@moukoublen thanks for taking the time as well, i think this is a good discussion.
I totally agree, that it would be preferable, to being able to properly differentiate all three cases:
- broker timeout
- poll timeout
- eof

I am not really sure how we can achieve this, from what i see, when there is nothing to consume, librdkafka internally also sets timed out as last error:
https://github.com/ed

[2020-02-05 11:55] Steveb-p commented on #343
@nick-zh yes, librdkafka does return the time out (in [source code](https://github.com/edenhill/librdkafka/blob/133bfb8336fba80a881fb5d2f7cc8e7268c9fec4/src/rdkafka.c#L2847)), but sample that @moukoublen linked ([sample](https://github.com/edenhill/librdkafka/blob/36283d1f8870be0824d97940abcf04d6d202a0ec/examples/consumer.c#L210)) is an implementation example that we - maybe - should follow.

Sinc

[2020-02-05 12:12] nick-zh commented on #343
I haven't found the code in librdkafka, where a broker connection issue results in `RD_KAFKA_RESP_ERR__TIMED_OUT` and will be returned as such.
If librdkafka does not differentiate those cases, i question if we should / need to.
If we want to do it, we probably need a new const though, since i was unable to find one in librdkafka.
But as i said, since you most likely want to continue polling, not

[2020-02-05 12:23] moukoublen commented on #343
@nick-zh @Steveb-p Correct me if I'm wrong here but to my understanding in librdkafka that when the poll operation finishes without message it sets the timeout error with `rd_kafka_set_last_error` but it returns `NULL`.
https://github.com/edenhill/librdkafka/blob/133bfb8336fba80a881fb5d2f7cc8e7268c9fec4/src/rdkafka.c#L2847-L2852

And because of that `rd_kafka_consumer_poll` returns `NULL` also.
ht

[2020-02-05 12:34] nick-zh commented on #343
@moukoublen yeah i totally agree, the next thing with null is, the current behaviour returns NULL for eof as well (unless i set `enable.partition.eof`). I am sadly only partially familiar with librdkafka internals, so i am not sure if timeout is the only case where `RD_KAFKA_RESP_ERR__TIMED_OUT` is set.
I also understand, that it would be nice ofc, to differentiate:
- poll timeout
- broker timeout

[2020-02-07 17:04] simPod opened #344 "Produce newTopic() how expensive it is?"
Hello, I have a question about `newTopic()` method.

Is it safe if called in a loop? Or does it open a connection or something so it's encouraged to initiate only once before the loop?

The thing is I want to route messages to tens of topics so I'm wondering whether I have to initiate those topics before the loop or can do it within.

[2020-02-08 08:22] nick-zh commented on #344
Hey @simPod
I think this should be safe to do so, the connection will / should already be open at that time. To improve you can keep the topics in memory somehow to avoid always recreating it. Hope that helps.

[2020-02-08 15:10] simPod commented on #344
Thank you for answer! That will do.

[2020-02-08 15:11] #344 closed

[2020-02-12 08:19] dirx opened #345 "Minor documentation / implementation difference in TopicPartition::__construct"
Documentation: offset = null, when not set explicitly:

`public RdKafka\TopicPartition::__construct ( string $topic , integer $partition [, integer $offset = NULL ] )`

(see https://arnaud.le-blanc.net/php-rdkafka-doc/phpdoc/rdkafka-topicpartition.construct.html)

Implementation: sets default offset = 0:

https://github.com/arnaud-lb/php-rdkafka/blob/95780b9938b7e47ba9e22b3d43168e945298ca92/topic_

[2020-02-12 20:19] dirx commented on #330
@nick-zh My ffi based librdkafka binding tests did run successfully against latest rdkafka extension 4.0.4-dev on this issue (see https://travis-ci.org/dirx/php-ffi-librdkafka/jobs/649612863#L1472).

Thank you for fixing this.

[2020-02-12 20:19] #330 closed

[2020-02-12 20:36] dirx commented on #329
@nick-zh Thank you.

[2020-02-12 20:36] #329 closed

[2020-02-16 14:46] luowencai opened #347 "librdkafka version (runtime) => 1.1.0-26-gb4a3da-dirty"
* PHP version:7.2.19
 * librdkafka version:1.1.0.255
 * php-rdkafka version:3.1.2
 * kafka version:
rdkafka

rdkafka support => enabled
version => 3.1.2
build date => Jul 26 2019 10:58:46
librdkafka version (runtime) => 1.1.0-26-gb4a3da-dirty
librdkafka version (build) => 1.1.0.255

What does dirty mean, how can we make it right

[2020-02-16 15:41] Steveb-p commented on #347
It basically means it's been built from specific source code, maybe with some changes added. Usually it's nothing to worry about, unless you don't trust your system admin or you encounter any issues.

[2020-02-17 12:52] #347 closed

[2020-02-19 09:07] Steveb-p opened #351 "Making repository tests faster"
I've fiddled with test times and apparently valgrind memory check takes 75% of the time.
When it was enabled it cost us 10 mins to execute tests
With it disabled tests lasted 2.5 mins
So I'd say we should only run memory checks in selected tests, and drop them for all others. I looked how redis extension library does it and they use a different tool for testing.

[2020-02-19 09:57] Steveb-p commented on #343
I think we can use `extern rd_kafka_last_error_code` to tell us what was the result of the polling operation?

https://github.com/edenhill/librdkafka/blob/45a1e38f53953ad2a93566ea020289c8d01d407d/src/rdkafka_int.h#L826-L829

[code]

Since poll operation set error code to `0,0` if successful, then this way we could reliably tell between actual poll errors and not set this error flag if there is sim

[2020-02-20 09:55] denisrocks commented on #38
Just install Kafka client under [official repository ](https://github.com/edenhill/librdkafka)instructions.

[2020-02-24 04:37] nick-zh commented on #345
Thx @dirx as always, i will have a look

[2020-02-24 07:01] #342 closed

[2020-02-24 07:16] maks-rafalko opened #353 "No such configuration property: "message.max.bytes" for Topic Conf"
* PHP version: 7.4.2
 * librdkafka version: 1.2.1
 * php-rdkafka version: 4.0.3
 * kafka version: 2.2.0

This documentation page of `php-rdkafka` https://arnaud.le-blanc.net/php-rdkafka-doc/phpdoc/class.rdkafka-topicconf.html says that **Topic** Conf can use properties from https://github.com/edenhill/librdkafka/blob/master/CONFIGURATION.md

We want to set a max message size for a particular topic

[2020-02-24 07:31] nick-zh commented on #353
@maks-rafalko the code snippet below, should work. Be aware, that setting this alone will not work, your broker also needs to be configured to accept that message size.
Hope that helps!

[code]

[2020-02-24 07:32] nick-zh commented on #353
i will adjust the link to have the correct anchor, which is:
https://github.com/edenhill/librdkafka/blob/master/CONFIGURATION.md#topic-configuration-properties

[2020-02-24 07:33] maks-rafalko commented on #353
As I said, it works on Producer level (as shown on your snippet), but it should also work for Topic Conf as per Kafka's documentation:

https://kafka.apache.org/documentation/

    [...] This can be set per topic with the topic level max.message.bytes config.

nice!

[2020-02-24 07:34] maks-rafalko commented on #353
is it that `librdkafka` just does not support it on Topic level?

[2020-02-24 07:39] nick-zh commented on #353
@maks-rafalko so from the documentation `message.max.bytes` is the broker config. `max.message.bytes` is indeed a `TopicConf` option, but it is aimed at batches for consumers.
If i remember correctly, there was a discussion about adding this in `librdkafka` but i think in the end it was decided to not add this consumer option, as it was mostly not usable for the lib.

[2020-02-24 07:47] maks-rafalko commented on #353
didn't find anything in the `librdkafka` repo.

How do you suggest to apply this setting only for particular topic then?

Thank you for your answers. Since this is not supported in `librdkafka` (and consequently in `php-rdkafka`) - feel free to close the issue

[2020-02-24 07:57] nick-zh commented on #353
@maks-rafalko sadly i think this is truly not possible on topic level only on producer level. Since you need to adjust the topic as well anyway, producing will still fail with `RD_KAFKA_RESP_ERR_MSG_SIZE_TOO_LARGE` if i remember correctly, if you try sending something too big. Sry that i couldn't help more.

[2020-02-24 07:57] #353 closed

[2020-02-27 10:04] Alerander opened #354 "consumer can't get message"
* PHP version:
 * librdkafka version:
 * php-rdkafka version:
 * kafka version:

[2020-02-27 13:20] Steveb-p commented on #354
Now that's a highly descriptive issue :smiling_imp:

[2020-02-27 14:10] nick-zh commented on #354
@Alerander we need a bit more than that

[2020-03-02 05:45] phoenixg opened #355 "pecl install failed on MAC using php 7.1"
[code]

[2020-03-02 05:49] nick-zh commented on #355
@phoenixg from the error, i think you don't have libssl properly installed
[code]

[2020-03-02 05:49] #354 closed

[2020-03-03 08:01] phoenixg commented on #355
I have tried

[code]

Not worked.

[2020-03-03 08:01] #355 closed

[2020-03-03 08:35] nick-zh commented on #355
I see you closed the issue, not sure if you got it working in the end. If i remember correctly you need libssl and openssh-dev installed (at least for Linux), alternatively a docker setup is mostly more conveniant than setting it up locally.
Don't hesitate to ping me here if you need more help with a docker setup.

[2020-03-03 08:48] phoenixg commented on #355
@nick-zh Thank you! I just ignored the problem, maybe one day I will try again and try to find out why.

[2020-03-03 09:14] Steveb-p commented on #355
@phoenixg While the general discussed topic was nginx, solution might be relevant to you: https://stackoverflow.com/questions/32960032/nginx-cannot-find-openssl-development-headers

Also, if possible, could you give us what contents there are in `/usr/local/opt/openssl/lib`?

[2020-03-04 01:09] phoenixg commented on #355
@Steveb-p Hey sir, here is my `ls` result:

[code]

[2020-03-11 16:43] bastienu opened #356 "RdKafka\Conf OK in file but not in Laravel"
Hi everyone,

Here is a strange behavior, and I dont understand why.
I'm using Laravel and, in one of my controller I have the following code :
[code]

When I load the page, an exception is thrown :
[code]

---

Now, I'm creating a file, named kafka.php with the following code :
[code]

When I `php kafka.php`, here is the result :
[code]

---

I have already put the following line `extension=/usr/

[2020-03-12 05:36] nick-zh commented on #356
@bastienu this sound kind of strange, so i am assuming when you do `php-fpm -m` and `php -m` you can find the extension in both?

[2020-03-12 05:48] nick-zh commented on #356
i noticed you also mention apache, so i am unsure if you use fpm or apache, but be sure for apache to also add it there (e.g. ` /etc/php/7.3/apache/php.ini`) and you can check with `var_dump(get_loaded_extensions());`

[2020-03-12 08:09] bastienu commented on #356
Oh god, many thanks @nick-zh ! I didn't add `extension=/usr/lib/php/20180731/rdkafka.so` in `/etc/php/7.3/apache/php.ini` !

Thanks a lot !

[2020-03-12 08:09] #356 closed

[2020-03-12 08:34] nick-zh commented on #356
No worries, always glad to help :v:

[2020-03-13 06:07] qidizi opened #357 "how to fix `%3|1584078921.295|ERROR|rdkafka#consumer-1| [thrd:GroupCoordinator]: 1/1 brokers are down`"
* PHP version: PHP 7.4.2 (cli) (built: Jan 22 2020 06:30:58) ( NTS )
 * librdkafka version: librdkafka version (build) => 1.3.0.255
 * php-rdkafka version:version => 4.0.3
 * kafka version:kafka_2.13-2.4.0/

error msg : `%3|1584079582.743|ERROR|rdkafka#consumer-1| [thrd:GroupCoordinator]: 1/1 brokers are down`

php code:

[code]

php result:

[code]

set `debug=all` result:

[code]

[2020-03-13 10:01] nick-zh commented on #357
@qidizi thanks for reaching out, so from what i can gather from your logs, this happens during the consumer shutdown (unassignment from what i can gather) and it seems it is unable to reach the broker:
[code]
Can you try to call this after the commit and see if it still happens:
[code]
If it still happens let me know so i can investigate further.

[2020-03-13 10:08] qidizi commented on #357
add `$consumer->unsubscribe();`

result(disabled debug):

[code]

[2020-03-13 10:12] qidizi commented on #357
add `$consumer->unsubscribe();` php code:

[code]

php auto finish and press ctrl+c log:

[code]

[2020-03-13 10:24] nick-zh opened #358 "Add transactional producer"
Support transactions for producers (https://github.com/edenhill/librdkafka/pull/2605)

[2020-03-15 06:06] nick-zh commented on #357
@qidizi thank you i was able to reproduce this, i will investigate

[2020-03-15 07:58] nick-zh commented on #357
@qidizi so i was able to narrow down where it happens, it seems that this happens when we close the consumer, specifically during `rd_kafka_consumer_close`.
For me it doesn't reproduce reliably, but it happens every 2nd or 3rd call at least, even with `librdkafka:master`.

My assummption is, this is not critical for your consumer, it seems that after the consumer has closed there are state changes

[2020-03-15 15:38] qidizi commented on #357
only need review the php_code, step by step,can trigger the error everytime;

[code]

[2020-03-15 15:39] qidizi commented on #357
the log,trigger error everytime .

[code]

[2020-03-15 16:10] qidizi commented on #357
i don't know why.

when kafka_server_config:`listeners=client://kafka.local.qidizi.com:9092,broker://127.0.0.1:9093`,it use `kafka.local.qidizi.com`;

php client use `    const KAFKA = 'kafka.local.qidizi.com:9092';`,trigger error everytime;
but change to `     const KAFKA = 'kafka-any-word.local.qidizi.com:9092';`,i can't trigger error; like the log

[code]

[2020-03-17 18:51] nick-zh commented on #358
So from what i see this is not released yet, probably will be soon with `librdkafka:1.4.0`.
I tested this on `librdkafka:master` and it seems to work just fine.
If you have a local setup with just one broker, be sure to use these envs in your docker-compose.yml:
[code]

[2020-03-18 05:51] nick-zh commented on #345
Finally got the time to fix this: https://github.com/arnaud-lb/php-rdkafka-doc/pull/43
Thx again for reporting this!

[2020-03-18 05:51] #345 closed

[2020-03-18 05:53] maximdx opened #360 "KafkaConsumer takes long time to fetch message"
* PHP version: 7.3.15
 * librdkafka version: 0.11.5
 * php-rdkafka version: 4.0.3
 * kafka version:  2.4.1

Hi,

I found this is happening to my single node setup (single broker/partition/producer/consumer). Once the consumer hit the partition EOF, it usually takes between 10s to 30s to fetch the next message that the producer sends (I assure that the consumer is running after the messages have be

[2020-03-18 05:57] nick-zh commented on #360
@maximdx please try a more up to date version of librdkafka. `librdkafka:0.11.5` was released in July 2018 and is known to contain bugs. I would suggest you take the latest or anything that is at least 1.x

[2020-03-18 06:44] maximdx commented on #360
Hi @nick-zh Thanks a lot to point out the old librdkafka version issue.
I have upgraded it to v1.3.0 and give another try.
But now I found the first message arrived at the consumer usually in exactly 5s.
Having checked the points that time elapse but cannot figure out what is going on:

[code]
...
[code]

I have attached the full log. Could you help with this please?
[consumer2.log](https://github

[2020-03-18 06:47] nick-zh commented on #360
@maximdx you are using the high level consumer and this is normal. The broker needs some time to rebalance the partitions at the beginning. This can take a few seconds.

[2020-03-18 06:49] maximdx commented on #360
I see. That sounds reasonable.
Thanks again for the help!

[2020-03-18 06:49] #360 closed

[2020-03-18 06:50] nick-zh commented on #360
@maximdx no worries, don't hesitate to ask again if you need further help. Have a great day :v:

[2020-03-18 13:47] minitauros opened #361 "PHP7.4 $producer->newTopic results in Couldn't execute method Exception::__tostring"
* PHP version: 7.4.3
 * librdkafka version: 1.3.0
 * php-rdkafka version: 4.0.3
 * kafka version: 2.4.1

(Feel free to suggest a better issue title)

We're upgrading from PHP 7.3.8 to 7.4.3 and we're running into this problem that we're having some trouble with debugging.

Before this upgrade we were running librdkafka ^1, kafka ^2, php-rdkafka ^3.

The error occurs when we call `newTopic()` on a

[2020-03-18 14:54] nick-zh commented on #361
At first glance, i was unable to deduct what happens in the log.
Also i was unable to reproduce this:

PHP: `php7.4.3`
lib: `librdkafka:1.3.0`
system: `alpine:3.11`

i used the same code as you (some replacements):
[code]

[2020-03-18 15:08] nick-zh commented on #361
@minitauros did it by any chance produce a core?

[2020-03-18 16:22] minitauros commented on #361
Yeah what looked interesting to me (but honestly I know not a lot about the Kafka internals) is

[code]

"Removing all topics", it sounds quite extreme. While this script is running I'm listening to topic `dev.a` using Kafkacat and both consumption and publication to it work fine using Kafkacat.

Where would I find such a core file?

[2020-03-18 16:34] Steveb-p commented on #361
It's just librdkafka internal queue purging. Client de-registers from Kafka broker to let it know that it won't handle more messages and other consumers can pick up that partition.

PHP-FPM has to be running through `gdb`.

https://gist.github.com/guilhermeblanco/894d3288e17d4cd11f19f58d9c0fd253

Do not run on production, obviously.

[2020-03-18 16:37] nick-zh commented on #361
@Steveb-p yeah that's what i thought too, there are quite a few, but so far i was unable to spot the odd one :(

[2020-03-18 16:41] Steveb-p commented on #361
What about https://github.com/arnaud-lb/php-rdkafka/blob/cc11637e4530caca730f8a32a8d36fc1998eee8e/kafka_consumer.c#L137 ?

[code]

You did try just creating a method throwing an exception under PHP 7.4 and it worked ok? Maybe some macros changed?

[2020-03-18 16:43] nick-zh commented on #361
@Steveb-p that's code from the consumer, so probably can't be it.
good point, i can try to force an exception :+1:

[2020-03-18 17:09] minitauros commented on #361
Guys, thanks for the swift replies.

I've updated a few other packages and stripped down the environment to the bare required minimum. Exception is not happening. Please pause putting effort into this. I will update once I find out more.

[2020-03-18 17:14] nick-zh commented on #361
@minitauros thanks for the update, keep us posted

[2020-03-18 19:48] minitauros commented on #361
Ok, I have no idea why this is an issue, but I've managed to reproduce it.

The issue appears to happen only when the producer itself is constructed within the constructor of a class, then saved in a property, and then a topic is created in another method of that class and saved in another property.

Example:

## Will cause fatal
[code]

## Will not cause fatal
[code]

## Will also not cause fatal

[2020-03-18 20:02] nick-zh commented on #361
@minitauros haha no worries, i was just about to write, that i still can't reproduce it :smile:

[2020-03-18 21:08] Steveb-p commented on #361
Yet Another Custom Framework, eh? :smiling_imp:

@minitauros does it happen when you instantiate `RdKafka\Producer` twice for the same broker maybe?

Curiosity got the better of me :smile:

[2020-03-19 14:57] minitauros commented on #361
Haha, if only, but no, it's an old version of CodeIgniter.

I've spent a few hours trying to find out what the hell is causing this issue, but I have still not found it and cannot allocate the time now to dig into it any further.

I thought the same, but no problems occur when I do this outside of the framework. Even if I create a custom class that is only loaded from my test file (within the fram

[2020-03-19 16:05] Steveb-p commented on #361
God have mercy on your soul.

I actually converted a legacy application in CodeIgniter to a Symfony hybrid: CodeIgniter starting up and booting Symfony - base boot after initialization, so I can access dependency injection container if needed, and full request lifecycle in cases where I've had rewritten controllers. This allowed me to transition from one to the other and now only a shell of CodeIg

[2020-03-19 17:05] minitauros commented on #361
Hah, sounds like one intense job 😅 . Thanks for the offer! But it's all fine, we're slowly migrating to Go services, so there's no need to rewrite the whole thing.

And thanks again for the support!

[2020-03-20 10:28] renzhenguo opened #362 "Failed to consume message"
* PHP version: 7.1.1
 * librdkafka version: 1.3.0
 * php-rdkafka version: 4.0.4-dev
 * kafka version: 2.10

code

        $conf = new \RdKafka\Conf();

        // Set the group id. This is required when storing offsets on the broker
        $conf->set('group.id', 'dev_test2');
        $conf->set('log_level', '7');
        $conf->set('debug', 'all');

        $rk = new \RdKafka\Consumer($conf);

[2020-03-20 11:36] renzhenguo commented on #362
kafka log

kafka.common.KafkaException: Wrong request type 18
	at kafka.api.RequestKeys$.deserializerForKey(RequestKeys.scala:64)
	at kafka.network.RequestChannel$Request.<init>(RequestChannel.scala:50)
	at kafka.network.Processor.read(SocketServer.scala:450)
	at kafka.network.Processor.run(SocketServer.scala:340)
	at java.lang.Thread.run(Thread.java:745)

[2020-03-20 11:42] renzhenguo commented on #362
kafka version: 2.10-0.8.2.2

[2020-03-20 11:50] renzhenguo commented on #362
$conf->set('api.version.request', 'false');
$conf->set('broker.version.fallback', '0.8.2.2');

Success

[2020-03-20 11:50] #362 closed

[2020-03-21 10:21] #361 closed

[2020-03-27 02:56] jiangxiaocan commented on #101
I strong suggestiong use to these code to demo ，when i begin used rdkafka to produce message that kafka can not receive message if not these code
`while ($producer->getOutQLen() > 0) {
    $producer->poll(5);
}`

[2020-03-28 14:22] poettian opened #363 "high latency when produce"
* PHP version: 5.3.3
 * librdkafka version: 0.11.6
 * php-rdkafka version: 3.0.5
 * kafka version: 2.4.1

When produce msg, the latency as high as 1 second,no matter what config i set.
Here's the log:

%7|1585404942.904|PARTCNT|rdkafka#producer-1| [thrd:main]: Partitioning 1 unassigned messages in topic tzwT2 to 1 partitions
%7|1585404942.904|UAS|rdkafka#producer-1| [thrd:main]: 1/1 messages were

[2020-03-29 12:50] #363 closed

[2020-04-13 11:47] parveenbadoni opened #365 "Executing consumer without loop"
* PHP version:
 * librdkafka version:
 * php-rdkafka version:
 * kafka version:

[2020-04-13 11:50] parveenbadoni commented on #365
Hi,

PHP version: 7.1
librdkafka version: 0.11.3
php-rdkafka version:4.0.3
kafka version:0.10.0

I want to use consumer without while loop. My consumer will run at a particular time interval, like at every minute. I will use cronjob for it. If i use consumer without while loop, it does not consume messages. With while loop, it is consuming messages. Is there a way to consume messages without while

[2020-04-13 13:55] parveenbadoni commented on #365
@nick-zh Can you please advice on this issue?

[2020-04-13 14:04] Steveb-p commented on #365
@parveenbadoni may you please explain your reasoning as to **why** you're not willing to use while loop?

And don't get me wrong, if there is a reason for it, you can use a while loop that you `break` out of under some condition, like reaching a particular time elapsed.

While loop is primarily used to read another message and / or wait for new messages to arrive (if there are none). You can do it

[2020-04-13 14:05] nick-zh commented on #365
Hey @parveenbadoni
Can you maybe elaborate why you can't use a while loop?
But maybe [consumeBatch](https://arnaud.le-blanc.net/php-rdkafka-doc/phpdoc/rdkafka-consumertopic.consumebatch.html) could help you?

Cheers

[2020-04-13 14:14] parveenbadoni commented on #365
Thanks for reply @Steveb-p @nick-zh
I will try to explain my use-case. I have a scheduler that will be executing every 15 minutes or so. There is a separate producer who will be pushing messages to kafka topic. My consumer will run in that scheduler and will consume messages sent within last 15 minutes. Frequency of producer publishing messages is not known yet. So, i dont want my consumer to keep

[2020-04-13 14:29] parveenbadoni commented on #365
@nick-zh I guess consumeBatch will also be used inside while loop, Right?

[2020-04-13 14:33] nick-zh commented on #365
@parveenbadoni you can use `consumeBatch` outside a loop, you will just get the amount you specified, so if you use `consumeBatch` with a `batchSize` 100 messages you will get max. 100 messages, so if there are only 50 new messages, you will only get 50. Also the problem with your example code is, that you have a consume timeout of 20m, so if there is no new message for 20m your consumer will hang

[2020-04-13 14:57] parveenbadoni commented on #365
@nick-zh For consumeBatch method, I will also have to provide partition number? What if I do not know partition number.

[2020-04-13 15:02] nick-zh commented on #365
@parveenbadoni `consumeBatch` is part of the low level consumer, for which you must know your partitions, so you would need to do this for every existing partition.
My advice is to have a constant process running.
If not possible / desired, you can use your approach for which i would advise your `consumeTimeout` should be lower than your `maxRuntime` (in your example 10s).
Hope this helps.

[2020-04-14 05:45] parveenbadoni commented on #365
@nick-zh Thanks for the suggestion. It worked.

[2020-04-14 05:45] #365 closed

[2020-05-06 13:11] renatocosta opened #366 "Counter"
Does rdkafka to able to count the number of messages in a topic?

[2020-05-06 13:50] nick-zh commented on #366
Short answer: no (at least i am not aware of that)

Long answer:
Option 1:
You would need to count them yourself with a consumer

Option 2:
Query the [high watermark offset](https://arnaud.le-blanc.net/php-rdkafka-doc/phpdoc/rdkafka-kafkaconsumer.querywatermakoffsets.html), this will give you the latest offset for your partitions.
Keep in mind though, if your topic is set to delete messages (if yo

[2020-05-06 18:31] renatocosta commented on #366
Option 1 seems like a good fit.

Might i ask why you need to know this?

Now, I am changing a certain feature in a legacy code that send messages  by queue Beanstalkd to Kafka . So, there is some criteria like "Queue::size()"

[2020-05-06 19:48] nick-zh commented on #366
@renatocosta thx for the reply, so if i understand correctly, you want to make sure you have the same amount of messages in beanstalked and kafka?

[2020-05-06 20:29] renatocosta commented on #366
It would be counting the total of ready messages to delivery

[2020-05-07 05:03] nick-zh commented on #366
@renatocosta i am still not sure i understand the usecase and i don't know too much about beanstalkd, so please correct if am wrong with my assumptions:

I see beanstalkd is a worker queue, so i am assuming:
You put a job / task into beanstalkd. Then another process reads this message and it is gone.
Queue size (in beanstalkd) therefore gives you the number of open tasks.

Kafka is different:
You

[2020-05-12 06:03] #366 closed

[2020-05-17 15:04] sofire opened #367 "Exception during producer shutdown since 4.0.3 (race condition, RdKafka\Kafka::__construct() has not been called)"
A few days ago, I added kafka to my project, and deployed in product env, and some error logs occurred (log in below).

I'm not sure this fault caused by rdkafka, but it doesn't happen before.  If i remove the kafka code, the error disappeared.
I'd write a simple test script, but doesn't reproduce the same error.

Can someone help me to find the real reason.
Thanks.

 * PHP version: 7.2.31
 * libr

[2020-05-18 04:09] sofire commented on #367
I disable opcache extension，the signal changed from SIGABRT  to SIGSEGV.

[code]

[2020-05-18 14:36] nick-zh commented on #367
@sofire can you tell me what command from the extension is causing this crash?

[2020-05-18 15:10] sofire commented on #367
Thanks for your reply.

I try to find which function is wrong, but find nothing.
The program runs ok, except the crash when program exit.
The kafka producer is  ok,  the message is not lost, and no error logs.

[2020-05-18 15:13] nick-zh commented on #367
@sofire do you have any callbacks registered?

[2020-05-18 15:37] nick-zh commented on #367
So i tried to reproduce this with:
OS: `alpine:3.11.6`
PHP: `7.2.31`
ext: `4.0.3`
librdkafka: `1.4.0`

with the following example code:
[code]
and i was not able to reproduce.
In earlier versions this used to happen when the producer / consumer was already deconstructed but there was a callback or internal call still trying to execute something. Since `php-rdkafka:4.x` this should not happen anymo

[2020-05-18 15:50] sofire commented on #367
Yes , I add callbacks: setLogCb / setErrorCb / setDrMsgCb / setRebalanceCb
Tomorrow I try to test these callbacks.

[2020-05-18 15:56] nick-zh commented on #367
@sofire in the producer you shouldn't use `setRebalanceCb` this callback is only for the high level consumer `RdKafka\KafkaConsumer`. Let me know if you find anything more that can help reproduce this.

[2020-05-19 08:25] sofire commented on #367
I remove setRebalanceCb, the error disappear.

But when I remove all callbacks: setLogCb / setErrorCb / setDrMsgCb / setRebalanceCb, produce the same error.

[2020-05-19 11:30] nick-zh commented on #367
@sofire thx for the update. It is strange that this still happens when you have no callbacks, but unless you have some example docker setup with code, so i can reproduce this, it's going to be hard to track this down since i was not able to reproduce this.

[2020-05-19 12:48] Steveb-p commented on #367
@sofire are you creating multiple instances of `Producer` by any chance?

[2020-05-20 02:09] sofire commented on #367
@nick-zh Thanks very much. I will do more testing, if I find some more information, I will tell . Maybe my script is too complicated.

@Steveb-p No, I use php singleton pattern , and the script call the producer only once, and exit.

[2020-05-20 05:21] nick-zh commented on #367
@sofire thanks for the update and sry that i couldn't be of more help. As i said, it seems that after destruct somehow there is still a call that gets executed. I tried to pinpoint it, but sadly i was not able to see where this could happen, in 4.x this should not happen anymore, so this is really intriguing.

[2020-05-20 07:25] sofire commented on #367
Use our own framework, and redis , redis cluster extensions.

[2020-05-22 02:43] sofire commented on #367
In cli mode, have the same errors. In cgi / php-fpm mode, no these errors.
I used setLogCb / setErrorCb / setDrMsgCb to write logs.

[code]

[2020-05-22 09:15] nick-zh commented on #367
So running this script, which produces 5 messages and has the same callbacks registered:
[code]
works totally fine for me. Let me know if you find a way to adjust this example so that it causes the same error you get.
Are you doing any kind of special caching in your framework or in your application?

[2020-05-22 11:07] seth-shi opened #368 "How to count successfully sent messages, producer message order"
* PHP version: 7.1.9
 * librdkafka version: 0.9.1
 * php-rdkafka version:  3.1.2
 * kafka version: 2.5.0

my php code

[code]

But when I go to consume, the quantity always does not match 1000. always

[2020-05-22 11:30] Steveb-p commented on #368
This version is old enough to suggest that the issue lies in it. Support for it was dropped for newer versions of phprdkafka. Update the library and see if the problem persists.

[2020-05-22 11:36] seth-shi commented on #368
@Steveb-p
But when I tested it in a Windows environment, it was normal, the same version.
Because I downloaded it from here first https://windows.php.net/downloads/pecl/releases/rdkafka/3.0.5/.
Rdkafka3.1.2 here binds librdkafka 0.9.1.
When I deployed the Linux environment, I kept their versions consistent.

If the two versions are unrelated, can I download the latest version of librdkafka.
thanks

[2020-05-22 15:25] nick-zh commented on #368
First of all i totally agree with @Steveb-p  regarding updating `librdkafka:0.9.1`, it is way too old.
But i need to mention, you cannot count like this, poll just triggers events, but you don't know how many. If you want to count them, best way would probably be to pass the `setDrMsgCb` closure a count variable reference:
[code]

[2020-05-22 15:27] nick-zh commented on #368
also forgot to mention, php-rdkafka is not bound to a fixed librdkafka version, but the higher librdkafka, the more stable it is and you will be able to use more features of the extension.

[2020-05-22 15:33] seth-shi commented on #368
@nick-zh  thank you, My final solution is to upgrade librdkafka.
I tried to find the Message object from readme, but I couldn't find the content.
`Message $message` Can you give a more detailed example?

[2020-05-22 15:41] nick-zh commented on #368
You can find a lot of stuff in the official doc, for Message it could be maybe a bit clearer:
https://arnaud.le-blanc.net/php-rdkafka-doc/phpdoc/class.rdkafka-message.html
but basically you can just access all those public properties, like:
[code]
Hope that helps :V:

[2020-05-22 15:51] seth-shi commented on #368
i get!!!
I see to  consumer
$msg = $topic->consume(0, 1000);

but product Message from where?because Product::product return null.

[2020-05-22 16:09] nick-zh commented on #368
I am not sure i understand the question, but i think you mean `Producer::produce` or `Producer::producev`. So basically if you don't register [setDrMsgCb](https://arnaud.le-blanc.net/php-rdkafka-doc/phpdoc/rdkafka-conf.setdrmsgcb.html), you actually don't see if it got delivered. This callback is used to if the message was truly sent, so similar to the example i provided here: https://github.com/a

[2020-05-23 02:18] seth-shi commented on #368
sorry, I didn't see this setDrMsgCb.  Register with setDrMsgCb callback to see if it was sent successfully.
If I could do this on the web, every request would be written to kafka instead of bulk writing through the cli ?

[2020-05-23 10:35] nick-zh commented on #368
@seth-shi i am not sure if i understood correctly., but you can produce in fpm, swoole, cli whatevver you like and yes you can write something during a request, no problem at all, just be sure to call flush at the end of the request and you'll be fine.

[2020-05-23 11:09] seth-shi commented on #368
What I see is that "flush" is a 4.0+ feature. Does 3.0 only need while poll?

[2020-05-23 11:35] Steveb-p commented on #368
@seth-shi
In 3.x versions background thread that is responsible for sending messages will **block** process from terminating if there are pending messages, but it's better to `poll` manually until queue is empty.

Also, in 4.x versions `poll` is required to call your callbacks. It is used to allow phprdkafka/librdkafka to check the aforementioned background thread to call those callbacks. Otherwis

[2020-05-23 12:03] seth-shi commented on #368
@Steveb-p thanks

[2020-05-25 03:38] seth-shi commented on #368
Because my problem is still there, I need to reopen it

[code]

[2020-05-25 06:43] nick-zh commented on #368
@seth-shi hello again, so this is no problem, but stems from the reason, that you produce async, meaning you don't poll like this: `$producer->poll(-1);`. What you need to understand is, that messages to be sent out go into an internal queue. If a problems occur, like network interruptions, sending a message will be retried, causing, the order the producer sent them in, to be lost.
If the order is

[2020-05-25 07:24] seth-shi commented on #368
[code]

I tried three solutions, none of which was successful. Because my native language is not English when I go to read [https://arnaud.le-blanc.net/php-rdkafka-doc/phpdoc/rdkafka.examples-producer.html](https://arnaud.le-blanc.net/php-rdkafka-doc/phpdoc/rdkafka.examples-producer.html),

I see that the parameter of the poll is 0, the parameter that you give is -1,

But I use the third one, and

[2020-05-25 07:42] nick-zh commented on #368
@seth-shi no worries about the language thing, i just pointed it out for the idempotence option.
Examples are hard to write in the doc, because it really depends on the use case of the user what settings might be appropriate, maybe i will add a hint to the doc for this.

Back to your problem, so #3 works if you have one partition.
I see that you have multiple partitions, please bear in mind that o

[2020-05-25 07:59] seth-shi commented on #368
If I only have one consumer, multiple partitions won't matter, right? I have now started only one cli process to consume messages. But the quantity consumed is not equal to the quantity produced.

[code]

But before that, I need to test if any messages are missing. as you see. I mass-produced 10 messages in the cli process. But my cli consuming process doesn't get 10 messages

[2020-05-25 08:10] nick-zh commented on #368
@seth-shi multiple partitions do matter regarding message order, it doesn't matter regarding the amount. I produced with this:
[code]
and i had no problem getting 100 messages in and out. The while here is probably not necessary, but i wanted to be on the safe side.

[2020-05-25 09:40] seth-shi commented on #368
Still no, I don't think there's anything wrong with my code, Because I have no problem running under Windows,. The problem is with Linux.
But I tried to write a simple program in golang that produced 100 messages that my PHP cli could consume

[code]

[2020-05-25 10:05] nick-zh commented on #368
I am not saying no, but most certainly Linux is not the problem :wink: i am using Linux as well and never lost any messages in the years of using kafka and this lib

To your problem, sry that i missed this earlier, but you are using the low level consumer, i advise you to use the high level consumer `RdKafka\KafkaConsumer` which handles balancing, etc. itself and is less overhead for you.

Warning

[2020-05-25 10:25] seth-shi commented on #368
I used a program written by golang to produce 100 messages, and low-level consumption in the PHP cli process is normal.

[2020-05-25 10:49] seth-shi commented on #368
I tried higher order consumption, and he was right. I can completely consume

[2020-05-25 11:02] seth-shi commented on #368
Higher order consumption can get all the data, so what should I do so that lower order consumption can get all the information?

[2020-05-25 11:06] nick-zh commented on #368
Ok first of all, i need to point out the inconsistencies, which makes it hard for me to properly support your case:
- your code example only consumes from partition 0, but i see output for more partitions, so not sure what is true :smile:
- intially you said you use rdkafka:3.1.2, but from [a later comment](https://github.com/arnaud-lb/php-rdkafka/issues/368#issuecomment-633360181) i see it is rdk

[2020-05-25 11:18] nick-zh commented on #368
@seth-shi ok sry, while i was writing i did not see the comments, ok good to hear. My question would be, why do you want to use the low level consumer?
If you really insist on sticking to it, you actually need to consume from every partition, so for 3 partitions:
[code]
This can get really messy / bothersome, either you implement logic to rotate through your partitions your you use a library that

[2020-05-25 12:28] seth-shi commented on #368
Because I am very strange to kafka, now I know, thank you very much.

[2020-05-25 16:07] nick-zh commented on #368
@seth-shi ah no worries :+1: , i will close this now. Feel free to open a new issue if you need help with anything else :v:

[2020-05-25 16:07] #368 closed

[2020-05-26 05:20] sofire commented on #367
@nick-zh

[code]

[2020-05-26 05:53] nick-zh commented on #367
@sofire great stuff on locating where it happens, thx! I will have a look this evening to see how this can happen. It is during topic deconstruct, but i need to debug how this can actually happen. I will keep you posted :v:

[2020-05-26 06:25] nick-zh commented on #367
Ok i think i know why, pretty sure it is related to the i did here #333 probably we still need to have this check as well. I am assuming it can happen that rkt is already freed, so it will end in this exception. I will try to find a way to reproduce to make sure, very good find @sofire :v:

[2020-05-27 15:49] simPod opened #369 "[producer shutdown] To purge or not to purge? To flush or not to flush?"
Hi, what are the options on producer shutdown with v4? I found this section in docs https://github.com/arnaud-lb/php-rdkafka#proper-shutdown but it doesn't explain all options.

I understand I should call `flush()` to attempt to produce all queued messages in order not to lose them. But what if I eg. don't care about losing them?

So I was wondering what is the difference between:

- calling only

[2020-05-27 18:24] nick-zh commented on #369
Hey @simPod

Very good question, so if you don't care about losing messages, why send them in the first place :smile:
Just kidding, but yes then you don't need to `purge` or `flush`.

There are two ways to purge, check it at the bottom of the doc:
https://arnaud.le-blanc.net/php-rdkafka-doc/phpdoc/rdkafka.examples-producer.html

I can see how somebody might want to use the first flag, i am not sur

[2020-05-28 04:10] sjje opened #370 "Why the 3.0.6-dev was deleted"
* PHP version: php-5.6.35
 * librdkafka version:  0.11.5.0
 * php-rdkafka version: 3.0.6-dev
 * kafka version: 0.10.0

production env used 3.0.6-dev, I want mock production env, but source code not found  and pecl not found.

I want to know where the source code is, or the corresponding commit, and what bug it's abandoned for

[2020-05-28 07:07] nick-zh commented on #370
@sjje thx for the question. So all versions that contain `-dev`, are the next bugfix version that is the current master. While we do appreciate of course that people test the master, I advice against using any `-dev` version in production, since it is not a real version and depending on when you synced the master it might be unstable.
So in short, `php-rdkafka:3.0.6` waas never released because it

[2020-05-29 19:48] #370 closed

[2020-06-01 08:24] nick-zh commented on #367
@sofire i was not able to reproduce, but i think #371 should fix it. If you want you can try to build the extension from this branch to see, if it doesn't happen for you anymore.
Sry it took so long :bowing_man:

[2020-06-01 08:26] nick-zh commented on #369
@simPod closing this for now, feel free to reopen if something is still unclear.

[2020-06-01 08:58] simPod commented on #369
_Sorry, the notification got too far in my inbox :/ _

Thanks for reply!

So it is recommended for the application call at least either `flush` or `purge`. What if app does not call any? Is there any difference compared to calling `purge`? Messages might be lost in both cases, right?

[2020-06-01 10:06] Steveb-p commented on #369
Depends on the phprdkafka major version.
In 3.x, background thread will keep retrying messages that failed to send for whatever reason. This has virtually no effect when Kafka is OK, but if broker is down for some reason it caused PHP processes to linger and choke. If you use PHP-FPM for example, it would either continuosly spawn new processes (which would starve your server of resources) or block

[2020-06-01 10:43] nick-zh commented on #369
@Steveb-p is totally right, `flush` and `purge` were added to give the user (us) full control.
As stated correctly, the previous behaviour was to accomplish the same as `flush` but in `php-rdkafka:3.x` it was possible that messages were lost during shutdown in rare cases.

Recommendations can only be given for certain use cases, i am listing some, but i am sure there are many more :smile:

Use cas

[2020-06-01 12:05] sofire commented on #367
I added a log, then the log and Fatal error occurred at the same time.
[code]

[code]

Then I modified the topi.c:
[code]
The Fatal error disappeared.

I think it's resolved the problem. Thanks.

[2020-06-01 14:00] nick-zh commented on #367
@sofire thx a lot for the feedback and sry for the inconvenience

[2020-06-01 15:37] nick-zh commented on #328
PHP8.0 is planned for December this year.

So my suggestion for `php-rdkafka:5.0`, which will support it, is:
- support only `php:7.3` or greater
- support only `librdkafka:1.4` or greater

I am open to support `librdkafka:1.3.x` but in December it will be already one year old and librdkafka is evolving quickly.
Please everybody, share your thoughts on this.

[2020-06-01 21:26] pratdineout commented on #198
@fighthorse Were you able to use these?
$conf->set('security.protocol', 'sasl_plaintext');//sasl_plaintext SASL_SSL
$conf->set('sasl.mechanisms', 'PLAIN');
$conf->set('sasl.username', $config['user']);
$conf->set('sasl.password', $config['pwd']);

what was the issue?
Please share the solution.

[2020-06-02 04:05] nick-zh commented on #198
So for example confluent uses SASL, they provide examples in the clients section.
Those settings should work:
[code]

Depending on your setup you might also need
[code]
A description of what error you are getting might also help

[2020-06-02 06:07] nick-zh commented on #351
This is very good input @Steveb-p! As pointed out, [redis](https://github.com/phpredis/phpredis/blob/develop/.travis.yml) seems to run valgrind at the end.

Looking at this i could imagine the following approach. Split our tests in two folders, to run some without valgrind and some with.
Tests with valgrind should probably have this:
- normal produce (maybe with callbacks)
- produce with headers
-

[2020-06-02 06:40] nick-zh commented on #343
Sorry for the late reply, so `rd_kafka_last_error` is actually only used for the low level api (low level consumer / producer). I will try to find if we can improve this, but imho is low prio right now.

[2020-06-02 12:53] simPod commented on #369
All clear, one last question: is there a difference between a) calling `purge` b) calling nothing? Why would I call purge? Does it make shutdown of underlying process faster?

[2020-06-02 13:09] Steveb-p commented on #369
`purge` clears internal queue. Then new messages can be placed in queue in the same process.

Simply allowing the process to exit means that your operating system will close all related threads (phprdkafka in this case) resulting in memory being "wiped".

As said before, in 3.x thread closing was prevented and "not calling `purge`" would result in process stil trying to send them until time out.

[2020-06-02 13:10] nick-zh commented on #369
**With calling purge:**
Any message that was produced (internally queued) but not yet sent to the broker will not be sent.
If you are ok losing them or your application tracks it and sends them later, using purge can make sense.

**Without purge:**
When you flush, every message you produced will be sent out (unless of errors ofc).

Base behaviour was to not purge.

[2020-06-02 13:10] nick-zh commented on #369
@Steveb-p lolz too fast man :smile:

[2020-06-02 15:55] simPod commented on #369
Both answers gave me some more insight but I still feel answer to my question is somehow unclear 😄

Considered I don't care about messages being sent and the only thing I want is to exit the producer process, should I for some reason call purge or I can simply exit without calling any of purge and flush?

I'm aware purge will clean up the queue but exiting the process will clean up the memory as w

[2020-06-02 20:38] Steveb-p commented on #369
That's exactly what will happen.

The only difference is, calling `purge` will explicitly remove any leftover messages that weren't sent or failed to send.
Process ending will "clear" the queue - or rather, background thread will be stopped and removed, which basically achieves the same thing.

[2020-06-03 07:46] simPod commented on #369
Thanks a lot guys!

[2020-06-03 07:46] #369 closed

[2020-06-11 09:26] autowp opened #373 "auto.commit.enable or enable.auto.commit?"
Documentation says

[code]

But [here](https://docs.confluent.io/current/clients/librdkafka/md_CONFIGURATION.html) that option named `enable.auto.commit` .

In my environment only `enable.auto.commit` works with high-level consumer

 * PHP version: 7.3.11-0ubuntu0.19.10.6
 * librdkafka version: v0.11.6
 * php-rdkafka version: 4.0.3

[2020-06-11 11:40] nick-zh commented on #373
legacy consumer: `auto.commit.enable`
high level consumer: `enable.auto.commit`

hope that helps

`

auto.commit.enable
--

[2020-06-11 12:03] nick-zh commented on #373
I additionally updated the doc, to better reflect his:
https://github.com/arnaud-lb/php-rdkafka/tree/improve-doc-consumer-settings#consumer-settings

Please let me know if the doc is clearer with this :v:

[2020-06-12 08:10] GStepOne opened #375 "文档在这：https://arnaud.le-blanc.net/php-rdkafka-doc/phpdoc/book.rdkafka.html"
* PHP version:
 * librdkafka version:
 * php-rdkafka version:
 * kafka version:

[2020-06-12 14:03] #375 closed

[2020-06-12 15:47] #373 closed

[2020-06-12 15:47] #367 closed

[2020-06-22 05:25] nick-zh commented on #215
We need to make a decision regarding how to implement the Admin API. So far the spirit has been to stick close to librdkafka, but in the case of the Admin API, i personally think this makes it really confusing.
The two examples below, are code snippets what a topic creation would look like.

This example sticks exactly to the Admin API of librdkafka. Downsides i see are:
- that this could be reall

[2020-06-24 01:53] niwsmbulai1989 opened #376 "How to configure asynchrony in PHP?"
* PHP version:7.2
 * librdkafka version:4.0.3
 * php-rdkafka version:1.2.1
 * kafka version:2.5

`        $conf = new \RdKafka\Conf();`
      `  $rk = new \RdKafka\Producer($conf);`
      ` $rk->addBrokers(self::$broker_list);`
     `   $cf = new \RdKafka\TopicConf();`
     `   $rk->newTopic(self::$topic, $cf);`
    `   $topic->produce(RD_KAFKA_PARTITION_UA, self::$partition, $message);`

asynchro

[2020-06-24 05:10] nick-zh commented on #376
@niwsmbulai1989 so there is `commit` and `commitAsync`, also polling can be done either blocking (by passing -1) or non-blocking (by passing 0 or a timeout in ms). If you want a sync producer, either call `flush(-1)` after produce or poll indefinitely for an event:
[code]

[2020-06-25 08:49] realpeanut commented on #376
[https://arnaud.le-blanc.net/php-rdkafka-doc/phpdoc/rdkafka-producertopic.produce.html   ](url)
`public RdKafka\ProducerTopic::produce ( integer $partition , integer $msgflags , string $payload [, string $key = NULL ] ) : void`

Produce and send a single message to broker.

This is a async and non-blocking. @niwsmbulai1989

[2020-06-26 20:03] nick-zh commented on #215
After some discussion, the approach is clear on how to proceed. Since the scope of `php-rdkafka` is solely to expose `librdkafka` functionality / API to PHP, we will stick close to the libs implementation. Abstraction of complexity can still be done in PHP libraries (as e.g. [php-kafka-lib](https://github.com/jobcloud/php-kafka-lib)), to overcome the the points mentioned above.

[2020-06-28 00:44] niwsmbulai1989 commented on #376
@nick-zh @plediii

**sync**

`$conf = new \RdKafka\Conf();`
`$rk = new \RdKafka\Producer($conf);`
`$rk->addBrokers(self::$broker_list);`
`$cf = new \RdKafka\TopicConf();`
`$rk->newTopic(self::$topic, $cf);`
`$topic->produce(RD_KAFKA_PARTITION_UA, self::$partition, $message);`
$rk->poll(-1);

**Async**
`$conf = new \RdKafka\Conf();`
`$rk = new \RdKafka\Producer($conf);`
`$rk->addBrokers(self::$brok

[2020-06-28 05:54] nick-zh commented on #376
As @realpeanut pointed out correctly, the produce call on its own is async, BUT depending on how you use poll, the message will be handled sync or async. Now let's see why that is:

**Sync Produce:** You call `produce` to queue / send your message (async) but with `poll(-1)` you will wait until you get the delivery report for that message, this is what makes it synchronous. Same goes for `commit`,

[2020-06-28 08:11] niwsmbulai1989 commented on #376
`Call to undefined method RdKafka\\Producer::asyncCommit()`

`$conf = new \RdKafka\Conf();`
`$rk = new \RdKafka\Producer($conf);`
`$rk->addBrokers(self::$broker_list);`
`$cf = new \RdKafka\TopicConf();`
`$rk->newTopic(self::$topic, $cf);`
`$topic->produce(RD_KAFKA_PARTITION_UA, self::$partition, $message);`
 `$rk->flush(0);`
 `$rk->poll(0);`
` $rk->asyncCommit($message);`

@nick-zh  why ?

[2020-06-28 08:29] nick-zh commented on #376
@niwsmbulai1989 sry typo, it's `commitAsync`

[2020-06-28 08:31] niwsmbulai1989 commented on #376
`Call to undefined method RdKafka\\Producer::commitAsync()`

Still not ？

[2020-06-28 08:37] niwsmbulai1989 commented on #376
`$conf = new \RdKafka\Conf();`
     `  $rk = new \RdKafka\Producer($conf);`
       `$rk->addBrokers(self::$broker_list);`
      ` $cf = new \RdKafka\TopicConf();`
     `  $topic=$rk->newTopic(self::$topic, $cf);`
     `  $topic->produce(RD_KAFKA_PARTITION_UA, self::$partition, $message);`
      ` $rk->flush(0);`
      ` $rk->poll(0);`
     `  $rk->commitAsync($message);`

This is the complete code

[2020-06-28 08:48] Steveb-p commented on #376
`commit` and it's sibling, `commitAsync` are method that are used **high-level consumer**. They are used to inform Kafka broker that message has been processed and acknowledged.

Your code is already asynchronous at this point: you're not waiting for messages to be produced. That's what `flush(0)` and `poll(0)` do. Actually they both do similar things: `poll` is part of `flush` afaik. Just remove

[2020-06-28 08:54] niwsmbulai1989 commented on #376
@Steveb-p  I'm a bit confused. If I delete the last line of code, what kind of synchronization it should be!

[2020-06-28 09:06] Steveb-p commented on #376
When `produce` is called message is put into background thread (in librdkafka).

At this point message is already being sent.

`poll` method controls exactly when you want to wait. When called with `-1` it means - wait as long as possible. `0` means - just check queue and call registered callbacks, if any.

This practically makes `-1` synchronous, while `0` works as if it was asynchronous.

[2020-06-28 09:11] niwsmbulai1989 commented on #376
@Steveb-p   Very good, thank you! In addition, I have another question: how to judge whether it has been consumed? I need to write the business logic code after consuming again!

[2020-06-28 09:17] nick-zh commented on #376
@niwsmbulai1989 ah yeah totally my bad as well, it's too early for me, as @Steveb-p pointed out correctly, commit is consumer stuff. apologies. I will correct the answers, so others don't get confused as well.

[2020-06-28 09:59] nick-zh commented on #376
Can you maybe elaborate what you are trying to achieve?

[2020-06-28 10:00] niwsmbulai1989 commented on #376
I found a problem. When `flush `is less than or equal to 0, I can't receive the message!
No change was found by the following command, why?
`bin/kafka-consumer-groups.sh --describe --bootstrap-server kafka-1.default.svc.cluster.localhost:9092 --group elk`

[2020-06-28 10:00] niwsmbulai1989 commented on #376
I found a problem. When `flush `is less than or equal to 0, I can't receive the message!
No change was found by the following command, why?
`bin/kafka-consumer-groups.sh --describe --bootstrap-server kafka-1.default.svc.cluster.localhost:9092 --group elk`
@Steveb-p  @nick-zh

[2020-06-28 10:03] nick-zh commented on #376
please check the documentation and the examples on how to use flush:
https://arnaud.le-blanc.net/php-rdkafka-doc/phpdoc/book.rdkafka.html
you can also find additional examples here:
https://github.com/nick-zh/php-kafka-examples
I will add some more comment to my examples later today.

but basically `flush(0)` will not do much, choose a higher timeout and also check the return code

[2020-06-28 10:11] niwsmbulai1989 commented on #376
I'm looking forward to more examples from you. I hope @ I can have a look

[2020-06-28 10:14] nick-zh commented on #376
@niwsmbulai1989 if you feel a use case is missing or something is unclear, let me know. What i can say is, all the examples are not perfect. Every consumer / producer is very specific to the use case that your application needs to cover. So the examples are just a little help on how to do things.

[2020-06-29 02:27] niwsmbulai1989 commented on #376
@Steveb-p  @nick-zh  How to delete messages after Kafka consumption

[2020-06-29 05:11] nick-zh commented on #376
You don't, this is what Kafka is all about, it's  a streaming service. You can read about `kafka retention time` and `kafka compaction` to gain more insight about what is possible.

[2020-06-29 05:18] Steveb-p commented on #376
@niwsmbulai1989 short answer: you don't.

It's a design choice that comes from topics in Kafka being represented by logs. All you do instead is **acknowledge** that a message was read and move to the next one.
There exist concepts like log compacting and maximum log size, but their purpose is reduce size occupied on disk, not to remove particular messages.

Familiarize yourself with what Kafka is

[2020-06-29 06:58] niwsmbulai1989 commented on #376
two  question
1、How do I know if the message has been consumed?
2、After I confirm the message, if my business code logic fails, how can I send the current message back to the queue and reuse it?

two question is very important！

[2020-06-29 07:21] nick-zh commented on #376
you the developer will know because you can monitor the lag of the offsets of your consumer group

You should only commit, once all the business logic of your application has successfully processed the message.
I think you should familiarize yourself with the core concepts of Apache Kafka, because these questions are not really related to the extension, but more on how to use Kafka.
Confluent prov

[2020-06-29 11:01] Steveb-p commented on #376
^ This.

@niwsmbulai1989 from the Producer point of view you have no knowledge if a message was or ever will be consumed. Consumers will **acknowledge** messages to Kafka, which means they confirm that they have **received and handled** the message.

Messages do not dissappear from Kafka. This means you never "re-queue" them. There is no need to. If a Consumer fails all you have to do is to **not

[2020-06-30 00:40] niwsmbulai1989 commented on #376
I'm a little confused about the above confirmation,How do consumers confirm messages like Kafka?

[2020-06-30 03:25] niwsmbulai1989 commented on #376
@nick-zh   @Steveb-p   How to inform Kafka that the message has been sent successfully？

[2020-06-30 05:21] nick-zh commented on #376
Consumers commit offsets, this is the same as acknowledge for other messaging systems.

You don't Kafka informs you, that it was received or rejected.

I will close this issue, since your initial question was answered. The last questions are more about Kafka itself and i think you need more guidance in general about Kafka / patterns. While i am happy to help out more (feel free to [reach out](http

[2020-06-30 05:21] #376 closed

[2020-07-07 11:31] qidizi opened #378 ""in xmit queue" or "Terminating instance" cost 1000ms"
* PHP version: 72
 * librdkafka version:
 * php-rdkafka version:

[code]

 * kafka version:   kafka_2.13-2.4.0.jar

70% random stuck 1s(always 1s) by :

[code]

may be reason 1 :
  zookeeper crash then write `snapshot.da1`?
stop kafka and zookeeper ;
rename  `zookeeper` to `zookeeper.del.fail`
restart `zookeeper` and `kafka`;

[code]

then fixed `in xmit queue` stuck  1s;

but now 1%   stuck 1s by

[2020-07-07 12:11] Steveb-p commented on #378
@qidizi try updating the underlying librdkafka library first.

I'm pretty sure I've seen 1sec fix in their changelog somewhere 1-2 years ago.

[2020-07-08 01:50] qidizi commented on #378
centos7  follow https://centos.pkgs.org/7/remi-x86_64/php72-php-pecl-rdkafka4-4.0.3-2.el7.remi.x86_64.rpm.html ;
upgrade to
[code]

the same env+operate;

from max 1.*s ~ 0.2s
to
min 0.04s ~ 0.2s ,70% 0.0*s;

fixed.
thks!

[2020-07-08 01:50] #378 closed

[2020-07-14 09:06] wjcgithub commented on #24
To use $topicConf
$topicConf->set('offset.store.method', 'broker');
$topicConf->set('auto.offset.reset', 'smallest');

[2020-07-27 06:56] nick-zh commented on #358
Sry guys about the delay for this, i am a bit stuck atm to find the cause of the crashes for a few PHP versions, i am sure i can resolve this soonish :v:

[2020-08-03 04:04] seth-shi opened #379 "connection down brokers. t try catch connection fail message. but can`t work"
PHP version: 7.1.9
librdkafka version: 0.9.1
php-rdkafka version: 3.1.2
kafka version: 2.5.0
my php code

[code]

i get error message
[code]

I want to be able to return a response to the API after the connection fails

[2020-08-03 05:01] nick-zh commented on #379
Use `logCb`:
https://arnaud.le-blanc.net/php-rdkafka-doc/phpdoc/rdkafka-conf.setlogcb.html
and anything with fatal level, you can react accordingly.
Or alternatively flush would return a timeout in this case too if you are doing this directly in your api and you can react on this.

[2020-08-03 05:13] seth-shi commented on #379
@nick-zh Can an exception be thrown in the callback to interrupt the connection and return the response, because I see this is an event callback and the code is not synchronized

[2020-08-03 05:15] Steveb-p commented on #379
Also, I'd highly suggest upgrading your librdkafka dependency. 0.9 as far as I know is no longer supported by phprdkafka and versions before 0.11.6 are known to have issues.

[2020-08-03 05:35] nick-zh commented on #379
@seth-shi if you are sending from the API directly, i would just call `flush` at the end with a reasonable timeout as parameter and react to the return code of `flush`
the alternative would be throwing and catching an exception from the callback and polling for all events, but it's more work and flush does pretty much the same :smile:

[2020-08-03 05:38] seth-shi commented on #379
[code]

I mean, code is not blocking at `flush`. in`$topic::product` method block

[2020-08-03 05:44] nick-zh commented on #379
so you can replace this:
[code]
with this:
[code]

[2020-08-03 05:46] nick-zh commented on #379
Yeah and i forgot, also absolutely do what @Steveb-p said, upgrade librdkafka to a more current version :v:

[2020-08-03 05:47] seth-shi commented on #379
no, code no run to `flush`.
code block to `produce`
block time out, my api request always timeout.

[2020-08-03 05:54] nick-zh commented on #379
Yeah probably because the default message timeout for produce is 5s:
[code]
and with flush also taking max. 5s (if broker is down), that is a total of 10s which is probably letting your request timing out.
So you should probably not let your request time out and probably also  adjust the timeout.
To be clear though, during these 5s, librdkafka is retrying to send your message. In most cases where

[2020-08-03 06:23] nick-zh commented on #351
With numerous improvements from @Steveb-p and @arnaud-lb time, for a single job run, was brought down from 5h to 1h.
This will only decrease with upcoming work on `php:8.x` support, where we will drop more PHP and librdkafka versions.
Thanks guys, will be closing this for now.

[2020-08-03 06:23] #351 closed

[2020-08-03 06:42] seth-shi commented on #379
i try run code in the cli.
get notice
Even after 10s, the program cannot be stopped
[code]

[2020-08-03 06:58] nick-zh commented on #379
So just to be clear, you are running this code:
[code]
Also i noticed you run `php-rdkafka:3.1.2` which doesn't have flush yet.
I suggest you upgrade to the following versions:
- rdkafka:4.0.3
- librdkafka:1.5

[2020-08-03 07:12] seth-shi commented on #379
···
// 1
$kafkaBrokers = 'debian-server:9092';
$kafkaTopic = 'test';

 // 2
$producer = new \RdKafka\Producer();
$producer->addBrokers($kafkaBrokers);

// 3
$topicConfig = new \RdKafka\TopicConf();
$topic = $producer->newTopic($kafkaTopic, $topicConfig);

// 4
$topic->produce(RD_KAFKA_PARTITION_UA, 0, 'i am message');

// 5
$result = $producer->flush(5000);
if (RD_KAFKA_RESP_ERR_NO_ERROR !== $resu

[2020-08-03 07:21] nick-zh commented on #379
I cannot reproduce this with:
- `php:7.1.33`
- `rdkafka:4.0.3`
- `librdkafka:1.5.0`

With the following code you provided:
[code]
I get the following output and i the script exits successfully from cli:
[code]

[2020-08-03 07:39] nick-zh commented on #379
I can only reproduce this if i revert `flush` back to:
[code]
This will run forever when your broker is down, since it cannot send the message, this is why i advised to upgrade to `php-rdkafka:4.x` and use flush :v:

[2020-08-03 11:45] seth-shi commented on #379
thanks,

[2020-08-03 11:45] #379 closed

[2020-08-13 08:00] askie opened #380 "how to retry the message?"
* PHP version: 7.1
 * librdkafka version: 1.5.0.1
 * php-rdkafka version:4.0.3
 * kafka version:2.4

if set
[code]
but not run
[code]

is that possible other consumer or self to re consume this message?

[2020-08-13 08:25] Steveb-p commented on #380
@askie yes, disabling automatic commit and not commiting manually pretty much results in **other consumer group members** to be able to consume the same message again **once this consumer disconnects**.

[2020-08-13 13:42] nick-zh commented on #380
Perfect answer from @Steveb-p, i will elaborate a bit more, just to be on the safe side:

1. Commit is only for your consumer group, if you don't commit and the consumer stops / crashes, it will re-read that message the next time. If the same consumer continues though (without crashing / stopping), it will still read the next message.
2. Other consumer groups are not affected, they have their own

[2020-08-14 02:47] askie commented on #380
@Steveb-p @nick-zh   thxs

[2020-08-14 02:49] #380 closed

[2020-08-18 11:02] loggres opened #381 "Segmentation fault on php_request_shutdown"
PHP version: 7.1.20
librdkafka version: 1_0.11.3
php-rdkafka version: 4.0.3

Php extension is installed but is not used in php code.
Sometimes Segmentation fault occur in different web requests. I have not found any pattern in this. All of these requests don't use php-rdkafka library.
Segmentation fault will disappear when php-rdkafka library is disabled.
I understand that this report looks strang

[2020-08-18 11:44] Steveb-p commented on #381
@loggres thanks for the report.

Does it actually impact any requests, or is it "just" on shutdown? Was librdkafka library changed between versions?

[2020-08-18 12:01] loggres commented on #381
@Steveb-p thanks for the quick response

Librdkafka was not changed between versions. All segmentation faults were at php_request_shutdown for random requests. Requests are processed to the end, but response for these requests is an error, because php-fpm returns an error on segmentation fault.
The same requests randomly produce this error. One of two equal requests may have this error and another

[2020-08-18 12:37] nick-zh commented on #381
Sounds like this could be related to #367 which is fixed, but not yet released

[2020-08-26 09:09] nick-zh opened #382 "Support for transactional consume-transform-produce loop"
For the use case where you have the following:
- consumer reading messages
- processing those messages
- producing a result of those processed messages
- all the above being part of a transaction

We need to be able for the consumer offsets to be part of the transaction, this can be achieved by using `rd_kafka_send_offsets_to_transaction` for which we should add support for.

[2020-08-26 09:28] nick-zh commented on #381
I am closing this, please reopen if this still happens for you, if you build from master

[2020-08-26 09:28] #381 closed

[2020-08-26 09:34] nick-zh commented on #328
With the last feature (producer transactions) being ready, i will move forward with working on this in the coming days and weeks.
@arnaud-lb please let me know if you have any additional input to my above comment :v:

[2020-08-26 17:13] nick-zh opened #384 "Re-check deprecation of setDefaultTopicConf"
If seems for the low level consumer, some settings till need to be set over [setDefaultTopicConf](https://github.com/jobcloud/php-kafka-lib/issues/19).
Check in librdkafka if we can get around using `rd_kafka_conf_set_default_topic_conf` which is said to be deprecated.

[2020-09-02 18:07] nick-zh commented on #328
Just wanted to drop a short update, the current open PR should work fine with the current PHP8 beta.  Release of this will take some time though, since i want to get some other things into the next major as well :v:

[2020-09-03 15:21] nick-zh commented on #357
So i got feedback from Magnus, it is indeed an issue that is in `librdkafka`. As stated [here](https://github.com/edenhill/librdkafka/issues/2767#issuecomment-686563352), he will work on a fix for `1.6.0`.
I will close this issue since it is not extension related. Please follow the issue in `librdkafka` if you want receive updates on this.

[2020-09-03 15:21] #357 closed

[2020-09-04 06:05] rsarkar29 opened #385 "Not able to delete topic using php-rdkafka library"
Hi I am not getting any function to delete topics, is there any function to delete topics from Kafka using this library?

[2020-09-04 06:25] nick-zh commented on #385
This is not supported yet, check #215 for updates. It is planned for https://github.com/arnaud-lb/php-rdkafka/milestone/2

[2020-09-04 06:25] #385 closed

[2020-09-09 02:19] douyux opened #386 "Can't parse message header in centos"
when test message_headers.php  in centos i got following output:

[code]

and `var_dump($msg->headers)` just print `UNKNOWN:0`

 * os: CentOS Linux release 7.6.1810 (Core)
 * kernel: 3.10.0-957.1.3.el7.x86_64
 * PHP version: 5.6.36
 * librdkafka version: v1.5.0
 * php-rdkafka version: 4.0.3
 * kafka version: 2.12-2.3.1

-----

It's confused that message_headers.php is test ok in ubuntu 16.04 with

[2020-09-09 06:08] nick-zh commented on #386
@douyux thx for the report, so when you:
[code]
before the `array_walk` what is the output?

[2020-09-09 07:01] douyux commented on #386
`var_dump` headers before `array_walk` output is `UNKNOWN:0`，you can see it in following result:

[code]

[2020-09-09 07:04] Steveb-p commented on #386
@douyux is the PHP version on Ubuntu also PHP 5.6.36?

[2020-09-09 07:07] nick-zh commented on #386
I will try to replicate this when i find some time. Is this happening on PHP7 as well or just PHP5?

[2020-09-09 08:34] douyux commented on #386
ubuntu php version is: `5.6.40`，i'm not sure is will happening on php7

[2020-09-09 12:15] nick-zh commented on #384
Got feedback from the maintainer of librdkafka:

I will check on our side if this happens somewhere, since it seems like the global config is ignored atm

[2020-09-10 13:42] douyux commented on #386
this dockerfile can reproduce  the isse:
[code]

docker run on ubuntu16.04:
[code]

[2020-09-10 15:13] nick-zh commented on #386
@douyux awesome thx a lot for this, i will check it out :v:

[2020-09-11 14:01] nick-zh commented on #386
@douyux so what i can report back for now is, that it works for `php:7.x` under CentOS7. With the deadline coming closer with us dropping `php:5` support, i am not sure how much effort i want to put into this. I will try to check if i can find out why it behaves differently from Ubuntu, but i can't promise anything.

[2020-09-14 02:13] douyux commented on #386
@nick-zh  thanks a lot for the feedback and efforts, it's nice to fix it when you have more free time in the future.

[2020-09-14 16:45] nick-zh commented on #384
So this is the current finding, after setting `auto.offset.reset`, a dump of the conf object will result in having:
[code]
Which as mentioned above would cause a setting like `auto.commit.interval.ms` to be ignored on a global level.
Will further investigate if this happens inside `librdkafka` since i was unable to find code on our side that could cause this to happen.

[2020-09-15 08:01] nick-zh commented on #384
`auto.offset.reset` and is a topic configuration, setting it in the global config `RdKafka\Conf` will result in a default topic conf.
Having a default topic conf will ignore `auto.commit.interval.ms` on a global level for the low level consumer. It must be set in the default topic conf as well.
For libraries based on `php-rdkafka` or pure PHP implementations, this can be resolved by passing the lo

[2020-09-15 08:01] #384 closed

[2020-09-15 08:03] Steveb-p commented on #384
@nick-zh we should remember to include this in upgrade path document, if it's created.

[2020-09-15 08:07] nick-zh opened #387 "Create an UPGRADE.md"
Create an UPGRADE.md where people can check how an update affects them and what changes are needed.
Should include upgrade from:
- 3 to 4
- 4 to 5

[2020-09-15 09:34] nick-zh commented on #384
#387

[2020-09-16 07:09] nick-zh opened #388 "Deprecating / removing low level consumer"
They are planning to deprecate the low-level consumer on `librdkafka` side soon-ish.

I see two possible ways for us:
- deprecate it for `php-rdkafka:5.0` as well
- remove it for `php-rdkafka:5.0`

Personally i would be a bit more aggressive and go with the second option.
The low level (legacy) consumer can be quite challenging, especially for people starting out.
Settings behaviour can very trick

[2020-09-17 05:06] james-johnston-thumbtack opened #389 "Feature request: support producing messages with opaque"
librdkafka supports the concept of supplying an "opaque" value to a message when producing it.  This opaque value is a pointer to any application-defined object, and is not transmitted to the broker.  It is, however, provided in the delivery report.  One common use for this would be for the application to be able to link the delivery report with the original call to `producev`.  For example, one m

[2020-09-17 06:49] nick-zh commented on #389
Thanks a lot for the input, I will check this out.
Right now we are using opaques in the callback (for internal reasons) to pass the registered callback closures.

On the subject of headers, it is meant as metadata imho, so i do not think what you are sending is total garbage / useless, especially if there is important information like an originator, etc. in there.

There is some stuff that needs

[2020-09-17 16:21] james-johnston-thumbtack commented on #389
Here's an example from the Go producer client: https://godoc.org/github.com/confluentinc/confluent-kafka-go/kafka#Message --- The `Message` structure has an `Opaque` field.  This value is ultimately passed to the produce function in librdkafka, and is then seen in the delivery report when the `Message` structure is reconstituted.  In fact that particular framework has its own opaque values it need

[2020-09-18 04:15] james-johnston-thumbtack opened #390 "Feature request: support converting error code to enum string using rd_kafka_err2name"
It would be nice if php-rdkafka could expose the `rd_kafka_err2name` function, similar to how it already does with `rd_kafka_err2str`.  The former returns the name of the enum constant (e.g. `RD_KAFKA_RESP_ERR__TIMED_OUT`), whereas the latter returns a human-readable error string.  Getting the enum constant would be useful for some tracking/logging situations where the constant name is easier to w

[2020-09-18 05:16] nick-zh commented on #390
@james-johnston-thumbtack thanks for the suggestion. Should be easy to do, will try to implement this soon

[2020-09-18 05:20] nick-zh commented on #389
Ah i see, thanks a for the elaboration on this, this always helps a lot :v:

[2020-09-18 12:21] xxm404 opened #391 "MSG_TIMED_OUT with error code -192 in DrMsgCb normal?"
log:
[code]
 * PHP version: 7.2.26
 * librdkafka version: 0.11.3
 * php-rdkafka version: 4.0.3
 * kafka version: 2.2.1

[2020-09-18 12:23] Steveb-p commented on #391
@xxm404 Please upgrade librdkafka and try again.

[2020-09-18 12:29] xxm404 commented on #391
@Steveb-p Thanks for the reply, update librdkafka to 1.1.0, still with error code -192 in DrMsgCb

[2020-09-18 12:49] Steveb-p commented on #391
Please add debug logs from librdkafka. You can get those by adjusting your `Conf` object:

[code]
(excerpt from readme)

Are you able to work with the broker using different tools? For example, can you commit messages using Kafka's `bin/kafka-console-producer.sh` script (https://kafka.apache.org/quickstart#quickstart_send)?

[2020-09-18 13:44] nick-zh commented on #391
Yeah so `RD_KAFKA_RESP_ERR__MSG_TIMED_OUT` or `-192` means that the producer was not able to successfully send your message to the broker. Cause can be many things, you can find out more with the log instructions @Steveb-p provided to narrow it down or maybe you can see something from your broker logs.

[2020-09-20 15:34] xxm404 commented on #391
I add debug log from librdkafka, when `RD_KAFKA_RESP_ERR__MSG_TIMED_OUT` occurs, just get this log
[code]
no other useful logs.

[2020-09-21 05:12] Steveb-p commented on #391
@xxm404 that's strange. Make sure that you've actually passed that config to producer, because librdkafka is usually really, really verbose about what it's doing once it's put into debug mode.

Those logs will be output to stdout if I remember correctly.

[2020-09-21 07:26] xxm404 commented on #391
@Steveb-p Thanks for the reply.
This my producer code.
![image](https://user-images.githubusercontent.com/46340314/93741312-c6a2d500-fc1e-11ea-9cb3-c21dda2e2b1e.png)

[2020-09-21 08:02] nick-zh commented on #391
@xxm404 `logCb` intercepts those messages right now, so if `DLog` is logging to stdout you need to check where it ends up.
Quick fix would be to quickly remove `logCb` so it ends up in stdout again

[2020-09-21 08:10] nick-zh commented on #391
Additionally, unless you have a good reason to adjust the defaults of `librdkafka`, like `max.retries`, `queue.buffering.max.ms`, etc. i would use the defaults.

[2020-09-21 08:13] xxm404 commented on #391
`DLog` will output the log to file.

[2020-09-21 08:20] nick-zh commented on #391
Could you add your code here and also contents of your log file? But again, it points to an issue with broker communication.
You have set retries to only 3 (i think the default is quite higher), this will only give you a tolerance of 300ms, just wanted to point it out.

[2020-09-21 08:50] xxm404 commented on #391
@nick-zh Many thanks, the kafka doc `message.send.max.retries` default `3`
![image](https://user-images.githubusercontent.com/46340314/93746793-497c5d80-fc28-11ea-88e8-1f1fcc86cf19.png)

[2020-09-21 08:56] nick-zh commented on #391
@xxm404 best resource to check is:
https://github.com/edenhill/librdkafka/blob/master/CONFIGURATION.md
Since the extension is a wrapper for this c library. Also your link is for Apache Kafka `0.8.x` which is quite old 😉

[2020-09-21 09:40] xxm404 commented on #391
@nick-zh Thanks for the reply. I will modify the config to defalut value try to reproduce this error.

[2020-09-21 09:47] nick-zh commented on #391
@xxm404 cool, if it still happens, post code and log out put so we can have a look what seems to go wrong ✌️

[2020-10-05 17:59] nick-zh commented on #391
I will close this due to inactivity, feel free to reopen if you still have problems

[2020-10-05 17:59] #391 closed

[2020-10-05 20:23] nick-zh commented on #328
The open PR should be working fine with the current PHP8rc. I will do some heavy testing on the weekend

[2020-10-08 13:04] #358 closed

[2020-10-15 08:55] Vortelf commented on #367
Hello,

Managed to reproduce the issue and it's still present.

OS: Debian 10
PHP: 7.4.11
ext: 4.0.4
librdkafka: 1.4.2

Here's the code we're using with Laravel framework

[code]

After destructor for `KafkaProducer` gets called when `EOF` is reached and throws
[code]

[2020-10-16 16:19] NikDevPHP opened #395 "HighLevelConsumer: Properly handling broker unavailability and duplicate message reads when commiting in async manner"
Steps to reproduce:

* push for example 10 messages to a topic.
* run a consumer, processed for example 4 messages.
* "turn of" kafka without restarting a consumer.
[code]
* message handler still continue to processing messages, the remaining 6 messages were processed.
* turn on kafka again.
* consumer have processed 6 more messages.
* As a result, 16 messages were processed instead of 10.

I used

[2020-10-16 18:27] Steveb-p commented on #395
I doubt it is something that php-rdkafka do anything about - it's a direct result of:
 - messages being stored internally in librdkafka in queue to speed up processing
 - commit operation being asynchronous, which causes the offset saving request to be sent to Kafka broker, but we're not waiting for response.

To prevent this from happening what you should do is disable automatic commit (I never r

[2020-10-17 08:47] nick-zh commented on #395
@NikDevPHP very cool constellation, if you had an `errorCb` registered (i am assuming you have not), you would see that you lost connection to the broker. As @Steveb-p pointed out, due to the default of async commit, you also won't crash immediately in your case.
What happens when the broker comes back up, the consumer will rebalance and re-subscribe and consume from the last committed offset that

[2020-10-19 17:37] NikDevPHP commented on #395
Hi! In RdKafkaContext I have errorCb but I don't getting any error here that I lost connection to the broker

[code]

Well, I set 'commit_async' => false, now consumer fails after kafka restart with error, and still no error is caught in the callback. What do you propose to do here?

[code]

What about kafka guarantee exactly once?

[2020-10-19 18:04] nick-zh commented on #395
@NikDevPHP thx for the feedback, quickly checked this and it makes sort of sense, this is not a hard error, but something we could recover from, so it only shows up if you register a `logCb` there you can see the messages.
The exception you are getting, is probably due to a timeout that was reached for the async commit, because your broker took to long to recover.
Basically you could catch and ign

[2020-10-20 01:59] sofire commented on #367
try to update librdkafka to 1.4.4

[2020-10-22 11:42] kunyu commented on #186
@bbaga Did you solve it？i have the same question

[2020-10-22 11:59] bbaga commented on #186
No, not really. We started using the [rest proxy] (https://docs.confluent.io/current/kafka-rest/index.html) to produce messages from our web apps and use the interface provided by this extension in long running consumers.

If you have any suggestions on how to make the initial connection fast without having to switch to swoole or roadrunner I'd be happy to hear it

[2020-10-22 12:23] nick-zh commented on #186
Thx for the feedback @bbaga , yeah so this is a good solution / workaround. Either you:
- use swoole, php-pm, roadrunner, etc.
- seperate producing / consuming logic from your application and run it as cli command
- if none of the above is applicable, use the rest-proxy
I see no other workaround, at least for now, for this problem if you need to produce a lot of messages but don't have long runnin

[2020-10-23 08:25] NikDevPHP commented on #395
Sorry, could you please share example how it should be handled?

[2020-10-23 10:01] nick-zh commented on #395
So in pseudo code, this could look something like this:
Sync (potential reprocess of 1 message)
[code]
Async (potential reprocess of x messages)
[code]
Since `Waiting for coordinator` for coordinator is sort of a soft error that we can recover from, no need to crash. This is by no means a perfect example. but to give you an idea.
So be sure to analyse your use case and if exactly once is really ne

[2020-11-03 07:25] #395 closed

[2020-11-05 06:55] guanguoliang commented on #148
hello, i tried to use RD_KAFKA_OFFSET_STORED,but when i start ,it throws this error:'RdKafka\Exception' with message 'Local: Invalid argument or configuration',code like this:
`

       $rk = new \RdKafka\Consumer();
        $rk->setLogLevel(LOG_DEBUG);
        $rk->addBrokers(Yii::$app->params['kafka']['ip'] );
        $topicConf = new \RdKafka\TopicConf();
        $topicConf->set('auto.commit.en

[2020-11-05 06:57] Steveb-p commented on #148
@guanguoliang short answer is, use high level consumer.

https://arnaud.le-blanc.net/php-rdkafka-doc/phpdoc/rdkafka.examples-high-level-consumer.html

[2020-11-13 10:05] jfariablosis opened #397 "Kafka/conf"
Bonjour

Nous sommes du Portugal.
Nous avons un probleme avec la configuration du kafka.

Le message cést:

Symfony\Component\Debug\Exception\FatalThrowableError
Class 'App\Http\Controllers\RdKafka\Conf' not found

Pouvez vous nous aider a resoudre ce problem?

Merci en avance
Joao Faria

[2020-11-13 11:25] Steveb-p commented on #397
You're missing as import:

[code]

or global namespace prefix:

[code]

[2020-11-13 11:29] jfariablosis commented on #397
Bonjour

Merci beaucoup
Je pense que tout est resolu,. Je revien dans quelques minutes.

Compliments
Joao Faria

Enviado do Correio<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

De: Paweł Niedzielski<mailto:notifications@github.com>
Enviado: 13 de novembro de 2020 11:25
Para: arnaud-lb/php-rdkafka<mailto:php-rdkafka@noreply.github.com>
Cc: jfariablosis<mailto:jfaria.blosis@hotma

[2020-11-13 14:03] jfariablosis commented on #397
Bonsoir

Nous avont des problemes avec le “consumer”, notament nous avons un probleme quando nous ne produisont un message..

Pouvez vous nous aider?? Nous envoyont un message du “response”

Pardonnez  mois le francais

Producer

public function producer()
    {

        $conf = new \RdKafka\Conf();
        $conf->set('metadata.broker.list', '192.168.2.29:9092');

        //If you need to produce

[2020-11-13 15:57] nick-zh commented on #397
Dear Joao

Please don't use the low level consumer, it is overly complex and poses unnecessary challenges. I advice you to use the high level consumer :v:

Cheers

[2020-11-13 15:59] gordett commented on #397
ok, i will try it

thanks in advance

[2020-11-13 16:22] gordett commented on #397
$conf = new \RdKafka\Conf();

    $conf->setRebalanceCb(function (\RdKafka\KafkaConsumer $kafka, $err, array $partitions = null) {
        switch ($err) {
            case RD_KAFKA_RESP_ERR__ASSIGN_PARTITIONS:
                echo "Assign: ";
                var_dump($partitions);
                $kafka->assign($partitions);
                break;

            case RD_KAFKA_RESP_ERR__REVOKE_PARTIT

[2020-11-16 06:36] nick-zh commented on #397
@gordett if you see nothing at all (assign, waiting for assignment, etc.) it might be that you already have a consumer(s) running with the same consumer group. Imho even if you have no messages, after some point you should see `No more messages` and `Timed out`

[2020-11-16 10:02] gordett commented on #397
Hello @nick-zh

Me and @jfariablosis are implementing the above code. Thanks for your attention.

Resume:

public function producer()
    {
        $conf = new \RdKafka\Conf();
        $conf->set('metadata.broker.list', '192.168.2.29:9092');

        $producer = new \RdKafka\Producer($conf);
        $topic = $producer->newTopic("topic_for_show");

        for ($i = 0; $i < 100; $i++) {

[2020-11-16 10:09] nick-zh commented on #397
As stated before, as a first step, please don't use the low level consumer. Also in the example you provided you are writing to a different topic then you are reading, but your output is for the correct topic again. So the provided example is not consistent.
Also please format the code in the comment properly with three back ticks, i adjusted your comments to be more readable :v:

[2020-11-16 10:25] gordett commented on #397
Hi again,

*Sorry for the wrong topic (my bad)

    public function index()
    {
        $conf = new \RdKafka\Conf();
        $conf->set('metadata.broker.list', '192.168.2.29:9092');
        $producer = new \RdKafka\Producer($conf);
        $topic = $producer->newTopic("topic_for_show");

        for ($i = 0; $i < 100; $i++) {
            $topic->produce(RD_KAFKA_PARTITION_UA, 0, "MENSAGE $i");

[2020-11-16 10:48] nick-zh commented on #397
Please use the high level consumer and check if this still happens. Also to be on the safe side, use a new consumer group